
.icon-ok-circle:before { content: '\e800'; } /* '' */
.icon-cancel-circle:before { content: '\e801'; } /* '' */
.icon-down-circle:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-info:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e80a'; } /* '' */
.icon-logout:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */