@font-face {
  font-family: 'fridn-pr-invest';
  src: url('../font/fridn-pr-invest.eot?83626854');
  src: url('../font/fridn-pr-invest.eot?83626854#iefix') format('embedded-opentype'),
       url('../font/fridn-pr-invest.woff2?83626854') format('woff2'),
       url('../font/fridn-pr-invest.woff?83626854') format('woff'),
       url('../font/fridn-pr-invest.ttf?83626854') format('truetype'),
       url('../font/fridn-pr-invest.svg?83626854#fridn-pr-invest') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fridn-pr-invest';
    src: url('../font/fridn-pr-invest.svg?83626854#fridn-pr-invest') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fridn-pr-invest";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-ok-circle:before { content: '\e800'; } /* '' */
.icon-cancel-circle:before { content: '\e801'; } /* '' */
.icon-down-circle:before { content: '\e805'; } /* '' */
.icon-home:before { content: '\e806'; } /* '' */
.icon-info:before { content: '\e807'; } /* '' */
.icon-ok:before { content: '\e80a'; } /* '' */
.icon-logout:before { content: '\e80b'; } /* '' */
.icon-cancel:before { content: '\e80c'; } /* '' */
.icon-down-open:before { content: '\f004'; } /* '' */
.icon-up-open:before { content: '\f005'; } /* '' */
.icon-right-open:before { content: '\f006'; } /* '' */
.icon-left-open:before { content: '\f007'; } /* '' */
.icon-right-circled:before { content: '\f0a9'; } /* '' */
.icon-dollar:before { content: '\f155'; } /* '' */
.icon-doc-text-inv:before { content: '\f15c'; } /* '' */
.icon-user-circle-o:before { content: '\f2be'; } /* '' */