body .bg-video.about-video.page-not-found  {
    width: auto;
    object-position: center;
    position: inherit;
    display: flex;
    height: 100vh;
    margin: auto;
}

@media only screen and (max-width: 767px) {
    body .bg-video.about-video.page-not-found {
        display: block;
        width: 100%;
        height: 100vh;
    }
}

@media only screen and (max-width: 687px) {
    body .bg-video.about-video.page-not-found {
        display: block;
        width: 100%;
        height: auto;
    }
}

body.error404.hfeed.no-sidebar {
    height: 100vh;

    a.height-all {
        margin: auto -45%;
    }
}
