// about page

.about_page{
	display: flex;
    justify-content: flex-end;
    margin-bottom: 100px;
}

.about{
    width: 50%;
}

.entry-content{
	margin-bottom: 70px;
    margin-right: 85px;
    p{
      font-weight: 300;
      font-size: 48px;
      line-height: 51px;		
  }
}

.about_awards_title{
	line-height: 15px;
	color: rgba(255, 255, 255, 0.4);
	margin-bottom: 40px;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.award-items{
	display: flex;
	justify-content: space-between;
	margin-right: 85px;
	margin-bottom: 108px;
}

.award-year{
	font-size: 12px;
	line-height: 13px;
	color: rgba(255, 255, 255, 0.4);
	letter-spacing: 10px;
	margin-top: 32px;
}

.award-title{
	font-weight: 300;
	font-size: 24px;
	line-height: 34px;
	margin-top: 4px;
}

.award-place{
	font-size: 16px;
	line-height: 23px;
	font-weight: 500;
	margin-top: 4px;
}

.about_clients_title{
	line-height: 15px;
	color: rgba(255, 255, 255, 0.4);
	margin-bottom: 40px;
	text-transform: uppercase;
	letter-spacing: 10px;
}

.client-items{
	display: flex;
    justify-content: flex-start;
    margin-right: 44px;
    flex-wrap: wrap;
    align-items: center;
    li{
        margin: 15px;
    }
}

// @include respond-to("l-widescreen"){
//     .about {
//         width: 60%;
//     }
// }   
// @include respond-to("xl-desktop"){
//     body{
//         overflow-y: visible;
//         min-height: 100vh;
//         height: auto;
//         .about {
//             width: 80%;
//         }
//     }
// }
@include respond-to("l-widescreen"){
    body{
        .about{
            padding-right: 15px;
        }
        .bg-video.about-video{
            position: fixed;
        }
        .entry-content p{
            font-size: 36px;
            line-height: 38px;
        }
        .award-items{
            flex-wrap: wrap;
            margin-bottom: 53px;
            .award-item{
                margin-right: 15px;
                margin-bottom: 55px;
                // flex: 1;
            }
        }
        .client-items{
            justify-content: stretch;
            .client-item{
                // flex: 1;
                margin-bottom: 40px;
                margin-right: 40px;
                flex-wrap: wrap;
                li{
                    margin: 10px 10px;
                }
            }
        }
    }
}
@include respond-to("large-desktop"){
    body{
        .about {
            width: 90%;
            margin: 0 auto;
            margin-bottom: 0;
            padding-right: 0px;
        }
    }

    .about-page {
        background-color: rgba(0, 0, 0, 0.7);
    }


}
@include respond-to("desktop"){
    body{
        // .bg-video.about-video{
        //     width: 150%;
        // }
        overflow-y: visible;
        // min-height: 100vh;
        // height: 100%;
        display: flex;
        flex-direction: column;
        .about-page{
            order: 1;
            margin: 0 5%;
            margin-bottom: 0px;
            background-color: transparent;
        }
        .bg-video.about-video{
            position: relative;
            // left: 5%;
            height: 100%;
            width: 150%;
            min-height: unset;
            order: 2;
        }
        .about{
            width: 100%;
        }
        // .entry-content p{
        //     font-size: 36px;
        //     line-height: 38px;
        // }
        .main-dots{
            display: none;
        }
        .award-items{
            margin-bottom: 23px;
        }
    }    
}
@include respond-to("tablet"){
    body{
        .about_page{
            margin-bottom: 0;
        }
        .about_content{
            &::after{
                content: '';
                position: relative;
                width: calc(100% + 10vw);
                margin-left: -5vw;
                height: 868px;
                display: block;
                background-position: top center;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url("/wp-content/themes/spst/img/UnlceSam.png");
            }            
        }
        .bg-video.about-video{
            display: none;
        }
    }
    .entry-content {
        margin-right: 0px;
    }
}   
@include respond-to("phone"){
    body{
        .about_content{
            &::after{
                background-size: 110%;
            }
            .client-items{
                flex-direction: column;
                align-items: flex-start;
            }
        }
        .entry-content p {
            font-size: 24px;
            line-height: 25px;
        }
        .about_awards_title, .about_clients_title{
            font-size: 12px;
            line-height: 17px;
        }
        .award-year{
            font-size: 10px;
            line-height: 11px;
        }
        .award-title{
            font-size: 20px;
            line-height: 28px;
        }
        .award-place{
            font-size: 14px;
            line-height: 20px;
        }
    }
}

@include respond-to("xs-phone"){
    body{
        .about-page{
            margin: 0 20px;
        }
        .about_content::after{
            height: 675px;
            background-size: 130%;
            background-position-x: 35%;
        }
    }
}
@media only screen and (max-width:350px){
    body{
        .about_content::after{
            height: 675px;
            background-size: 150%;
        }
    }
}


// end about page