// booking page 
// .contact-us-video{
	// left: -100px;
// }
.booking, .contact-us{
	width: 50%;
	margin-bottom: 100px;   
	input, #contact_messege{
		-webkit-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
	}
	textarea:first-child{
		z-index: -1;
	}
	// #contact_messege{
	// 	-webkit-user-select: all;
	// 	-moz-user-select: all;
	// 	-ms-user-select: all;
	// 	user-select: all;
	// }

}
.booking{
	max-width: 800px;
}

.booking_title{
	font-weight: 300;
	font-size: 48px;
	line-height: 51px;
	margin-bottom: 97px;
}


.booking_country{
	// margin-right: 300px;
	// margin-right: 20%;
}

.booking_content_line{
	margin-top: 68px;
	display: flex;
	justify-content: space-between;
	.booking_country{
		flex: 1;
		// width: 267px;
		// margin-right: 90px;
	}
}

.booking_item{
	flex: 1;
	// width: 267px;
	// margin-right: 90px;
}

.booking_country_name{
	margin-bottom: 28px;
	font-size: 12px;
	line-height: 18px;
	color: rgba(255, 255, 255, 0.4);
	letter-spacing: 10px;
	text-transform: uppercase;
	span{
		font-size: 12px;
		line-height: 18px;
		color: rgba(255, 255, 255, 0.4);
		letter-spacing: 10px;
		text-transform: uppercase;
		display: block;
		&:first-child{
			margin-bottom: 12px;
		}		
	}
}

.booking_country_content{
	display: flex;
	// flex-wrap: wrap;
	justify-content: space-between;
}
.booking_country_content:first-of-type{
	margin-bottom: 30px;
}

.booking_name{
	font-size: 24px;
	line-height: 34px;
	font-weight: 300;
	margin-bottom: 5px;
}

.booking_item{
	a{
		font-size: 16px;
		line-height: 23px;
		font-weight: 300;
		display: block;
		text-decoration: none;
	}
}
body .contact-us-area .btn_anim {
	-webkit-appearance: unset;
}
div.contact_messege_wrap #contact_messege{
	// border-bottom: 1px solid hsla(0,0%,100%,.1);
}
.contact_messege_wrap{
	&>label{
		padding-right: 92px;
		display: block;
	}
	#contact_messege{
		background-color: transparent;
		border: none;
		// border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		width: 100%;
		font-size: 24px;
		line-height: 60px;
		font-weight: 300;
		resize: none;
		background-attachment: local;
		background-image:
		repeating-linear-gradient( transparent, transparent 59px, rgba(255, 255, 255, 0.2) 60px);
	}
}
@media(max-width: 1550px){
	.booking, .contact-us {
		width: 40%;
	}
}
@include respond-to("large-desktop"){
	.booking-area, .contact-us-area{
		background-color: rgba(0, 0, 0, 0.7);
	}
	.booking, .contact-us {
		width: 90%;
		margin: 0 auto;
		margin-bottom: 0px;
	}
	.booking{
		margin-bottom: 60px;
	}
	body .wpcf7-form .wpcf7-submit{
		margin-bottom: 50px;
	}
}
@include respond-to("desktop"){
	.booking-area, .contact-us-area{
		order: 1;
	}
	.booking-video {
		order: 2;
		position: relative;
		height: auto;
		width: 150%;
	}
	.booking{
		margin-bottom: 0px;
	}
}
@include respond-to("tablet"){
	// .booking, .contact-us{
	// 	margin-bottom: 100px;
	// }
	body{
		overflow-y: visible;
		// min-height: 100vh;
		// height: 100%;
		display: flex;
		flex-direction: column;
		.wpcf7-form .wpcf7-submit{
			margin-bottom: 25px;
			margin-top: 25px;
		}
		.contact_inputs_wrap, .contact_messege_wrap>label{
			padding-right: 0px;
		}
		.contact_inputs_wrap>label {
			width: 100%;
		}
		.contact-us-video, .booking-video{
			display: none;
		}	
		.booking-area, .contact-us-area{
			order: 1;
			.booking_page{
				.contact-us, .booking{
					&:after{
						content: "";
						position: relative;
						width: calc(100% + 10vw);
						margin-left: -5vw;
						height: 696px;
						display: block;
						background-position: 100% 100%;
						background-size: 100%;
						background-repeat: no-repeat;
						background-image: url(/wp-content/themes/spst/img/Spaceman.png);
					}
				}
				.contact-us:after{
					margin-top: 15px;
					background-position: top center;
					height: 750px;
					background-image: url(/wp-content/themes/spst/img/Dracula.png);
				}
			}
		}
		.bg-video{
			order: 2;
		}
		.booking_country_content, .booking_content_line{
			flex-direction: column;
			.booking_item, .booking_country	{
				margin-right: 0;
				margin-bottom: 20px;
			}
		}
		.booking_content_line{
			margin-top: 40px;
		}
	}
}


div.wpcf7-validation-errors, div.wpcf7-acceptance-missing{
	width: max-content;
	padding: 10px;
}
// end booking page
@include respond-to("phone"){
	body {
		.booking-area, .contact-us-area{
			.booking_page{
				.booking:after{
					height: 520px;
				}
				.contact-us:after{
					height: 555px;
				}
			}
		}
	}
}
@include respond-to("xs-phone"){
	body {
		.booking-area, .contact-us-area{
			.booking_page{
				.booking:after{
					height: 436px;
				}
				.contact-us:after{
					height: 475px;
				}
			}
		}
	}
}
@media only screen and (max-width: 375px){
	body {
		.booking-area, .contact-us-area{
			.booking_page{
				.booking:after{
					height: 343px;
				}
				.contact-us:after{
					height: 375px;
				}
			}
		}
	}
}