/*--DinRoundPro*/

@font-face{
	font-family: 'DinRoundPro';
	src: url('fonts/DinRoundProLight/DinRoundProLight.woff') format("woff");
	font-style: normal;
	font-weight: 300;
}
@font-face{
	font-family: 'DinRoundPro';
	src: url('fonts/DinRoundProRegular/DinRoundProRegular.woff') format("woff");
	font-style: normal;
	font-weight: 400;
}


/*--/DinRoundPro*/