*{
	font-family: 'DinRoundPro';
	color: #fff;
	outline: none;
	user-select: none;
}

a{
	transition: 0.4s;
	&:hover{
		transition: 0.4;
	}
}

body{
	position: relative;
	overflow: hidden;
	overflow-y: visible;
	background-image: url('./media/fon-pages.adc64c6c.png');
	background-size: cover;
	background-position: 50% 50%;
	width: 100%;
	// height: 100vh;
	// height: 100%;
	// min-height: 100vh;
	background-color: #000;
	font-size: 14px;	
}
.blocked{
	overflow: hidden;
}
.white{
	color: #fff;
}
.content-area{
	height: 100%;
	min-height: 100vh;
	position: relative;
}
.slick-slider{
	opacity: 0;
}

.slick-initialized{
	opacity: 1;
}

.tourdates_page, .about_page, .booking_page{
	z-index: 1;
	position: relative;
	height: 100%;
	padding-top: 181px;
	display: flex;
	justify-content: flex-end;
}

@include respond-to("xs-phone"){
	.tourdates_page, .about_page, .booking_page{
		padding-top: 80px;
	}
}
.site-header{
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	.menu{
		display: flex;
	}
	.current-menu-item{
		a{
			background-color: rgb(190, 24, 25);
		}
	}
	.menu-item{
		a{
			text-decoration: none;
			text-transform: uppercase;
			font-size: 20px;
			line-height: 23px;
			color: rgba(255, 255, 255, 0.8);
			padding: 0 40px;
			display: inline-flex;
			align-items: center;
			height: 120px;
			border-left: 1px solid rgba(255, 255, 255, 0.1);
			-webkit-tap-highlight-color: transparent;
			&:hover{
				background-color: rgb(190, 24, 25);
			}
		}
	}
}

.header-logo{
	padding: 0 37px;
	height: 56px;
	width: auto;
}

.social_links__phone{
	display: none; 
}
.home .bg-video{
	width: 100%;
}
.bg-video{
	// position: absolute;
	position: fixed;
	left: 0;
	top: 0;
	// width: 100%;
	max-width: 100%;
	height: 100%;
	min-height: 100vh;
	object-fit: cover;
	object-position: left 50%;
	z-index: 0;

}

.site-footer{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 35px 40px;
	z-index: 2;
	display: flex;
	align-items: center;
}

.social_links{
	margin-right: 17px;
}

.social_links__tablet{
	display: none;
}

.social_links_item{
	padding: 0 10px;
	text-decoration: none;
	path{
		transition: 0.2s;
	}
	&:hover{
		path{
			transition: 0.2s;
			fill: #851B1B;
			fill-opacity: 1;
		}
	}
}

.footer_txt{
	text-transform: uppercase;	
	color: rgba(255, 255, 255, 0.6);
	font-size: 12px;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	.developer-link{
		color: rgba(255, 255, 255, 0.6);
		display: flex;
		align-items: center;
		margin-left: 15px;
		text-decoration: none;
		.develper-logo{
			width: 20px;
			height: 15px;
			margin-left: 8px;
			path{
				transition: .4s;
			}
		}
		&:hover{
			color: #851B1B;
			font-weight: 900;
			path{
				color: #851B1B;
			}
		}
	}
}

// main page

.main_page{
	height: 100%;
	// background-image: url('./media/homepage-background.jpg');
	background-size: cover;
	background-position: center;	
}

.main-page_video{
	// left: 50%;
 //    transform: translate(-50%, 0);
 object-position: 50% 50%;
}

.main_slider, .slider_video{
	position: relative;
	height: 100vh;
	overflow: hidden;
	.slick-dots{
		position: absolute;
		left: 40px;
		bottom: 27px;
		display: flex;
		button{
			width: 60px;
			height: 4px;
			border: none;
			margin: 0 1px;
			background-color: rgba(255, 255, 255, 0.1);
			cursor: pointer;
		}
		.slick-active button{
			background-color: rgba(190, 24, 25, 0.8);
		}
	}
}

.main_slider_item{	
	padding-top: 120px;
	height: 100vh;
	position: relative;
}

.main_slider_item_txt{
	font-size: 96px;
	line-height: 101px;
	font-weight: 300;
	// letter-spacing: -2%;
	max-width: 1137px;
	padding: 101px;
	box-sizing: content-box;
	position: absolute;
	bottom: 0;
	left: 0;
}

// end main page


// video page

.slider_video{
	z-index: 1;	
}

.swiper-container {
	height: 100%;
	width: 100%;
}

.swiper-slide {
	background: #fff;
	text-align: center;
}

.video-container {
	position: relative;
	height: 100vh;
	// padding-top: 120px;
}

.video-iframe{
	height: 100vh;
	width: 100%;
	z-index: 1;
	position: relative;
}

// .video-container iframe{
// 	height: 100vh;
// 	width: 100%;
// }

.video-play,
.video-container object,
.video-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

// .video-container iframe,
// .video-container object,
// .video-container embed {
// 	pointer-events: none;
// }

.video-play{
	position: absolute;
	// background-color: #000;
	opacity: 0;
	transition: 0.4s;
	z-index: 2;
	height: 100%;
	img{
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		object-fit: cover;
		object-position: 50% 50%;
	}
	&.active{
		opacity: 1;
	}
}

.video-play_btn_triangle{
	height: 0;
	width: 0;
	border: 26px solid transparent;
	border-left: 42px  solid #fff;
	border-right: 0;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	transition: 1.25s;
}

.video-play_btn{
	height: 127px;
	width: 127px;
	background-color: rgba(190, 24, 25, 0.8);
	position: absolute;
	left: 50%;
	top: 50%;
	cursor: pointer;
	// top: calc(50% + 120px);
	transform: translate(-50%, -50%);
	// background-image: url('./media/Play.svg');
	background-position: 24%;
	background-repeat: no-repeat;
	position: relative;
	&:hover{
		.video-play_btn_triangle{
			border-left: 42px  solid rgba(190, 24, 25, 0.8);
		}
	}
}



.video-info{
	position: absolute;
	left: 0;
	bottom: 0;
	
	padding: 61px 40px;
	max-width: 886px;
	.video-info_duration{
		font-size: 14px;
		line-height: 15px;
		letter-spacing: 10px;
		color: rgba(255, 255, 255, 0.4);
		display: block;
		margin-bottom: 12px;
		text-transform: uppercase;
	}
	.video-info_title{
		font-size: 48px;
		line-height: 51px;
		font-weight: 300;
	}
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.video-info{
		padding: 61px 20px;
		.video-info_duration{
			font-size: 12px;
			line-height: 13px;
			letter-spacing: 6px;
			margin-bottom: 6px;
		}
		.video-info_title{
			font-size: 28px;
			line-height: 35px;
		}
	}
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.video-play_btn_triangle{
		border: 13px solid transparent;
		border-left: 22px  solid #fff;
		border-right: 0;
	}

	.video-play_btn{
		height: 80px;
		width: 80px;
		&:hover{
			.video-play_btn_triangle{
				border-left: 22px  solid rgba(190, 24, 25, 0.8);
			}
		}
	}
	.video-info{
		padding: 40px 10px;
		.video-info_duration{
			font-size: 10px;
			line-height: 12px;
			letter-spacing: 4px;
			margin-bottom: 4px;
		}
		.video-info_title{
			font-size: 20px;
			line-height: 25px;
		}
	}
}



// end video page




// contact us page 

.contact_form{
	.wpcf7-form-control-wrap{
		display: block;
	}
	.wpcf7-not-valid-tip{
		line-height: 34px;
	}
	.wpcf7-validation-errors {
		max-width: 100%;
		border-color: rgba(190, 24, 25, 0.8);
		margin-left: 0;
		margin-right: 0;
	}
}

.contact_inputs_wrap{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-right: 92px;
	input{
		background-color: transparent;
		border: none;
		border-bottom: 1px solid rgba(255, 255, 255, 0.1);
		width: 100%;
		font-size: 24px;
		line-height: 34px;
		font-weight: 300;
	}
	&>label{
		display: block;
		width: 48%;
		margin-bottom: 30px;
		// padding-right: 92px;
	}
}

.contact_item_title{
	display: block;
	font-size: 12px;
	line-height: 13px;
	letter-spacing: 10px;
	color: rgba(255, 255, 255, 0.4);
	margin-bottom: 16px;
}

.contact_submit{
	height: 49px;
	width: 180px;
	background-color: rgba(190, 24, 25, 0.8);
	font-size: 18px;
	line-height: 25px;
	font-weight: 300;
	border: none;
	margin-top: 50px;
	cursor: pointer;
}

.btn_anim {
	border: 0 solid;
	-webkit-box-shadow: inset 0 0 20px hsla(0,0%,100%,0);
	box-shadow: inset 0 0 20px hsla(0,0%,100%,0);
	outline: 1px solid;
	outline-color: rgba(190,24,25,.8);
	outline-offset: 0;
	text-shadow: none;
	-webkit-transition: all 1.25s cubic-bezier(.19,1,.22,1);
	-o-transition: all 1.25s cubic-bezier(.19,1,.22,1);
	transition: all 1.25s cubic-bezier(.19,1,.22,1);
	&:hover {
		border: 1px solid;
		-webkit-box-shadow: inset 0 0 20px hsla(0,0%,100%,.5), 0 0 20px hsla(0,0%,100%,.2);
		box-shadow: inset 0 0 20px hsla(0,0%,100%,.5), 0 0 20px hsla(0,0%,100%,.2);
		outline-color: hsla(0,0%,100%,0);
		outline-offset: 15px;
		text-shadow: 0 0 2px #427388;
		background-color: transparent;
	}
}

// end contact us page
.dots-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
	.main-dots {
		position: absolute;
		top: 50%;
		left: -200px;
		width: 391px;
		height: 391px;
		background-image: url('./media/dots.svg');
		background-repeat: no-repeat;
		background-position: 50% 50%;
		background-size: 100%;
		z-index: 1;
		transform: translate(0, -50%);
	}
	
	.main-dots.booking-dots-second {
		left: auto;
		right: -200px;
	}
	
}



// preloader


.preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	z-index: 999;
}
.loader {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	// width: 150px;
	// height: 150px;
	// margin: -75px 0 0 -75px;
	// border-radius: 50%;
	// border: 3px solid transparent;
	// border-top-color: #9370DB;
	// -webkit-animation: spin 2s linear infinite;
	// animation: spin 2s linear infinite;
}
// .loader:before {
// 	content: "";
// 	position: absolute;
// 	top: 5px;
// 	left: 5px;
// 	right: 5px;
// 	bottom: 5px;
// 	border-radius: 50%;
// 	border: 3px solid transparent;
// 	border-top-color: #BA55D3;
// 	-webkit-animation: spin 3s linear infinite;
// 	animation: spin 3s linear infinite;
// }
// .loader:after {
// 	content: "";
// 	position: absolute;
// 	top: 15px;
// 	left: 15px;
// 	right: 15px;
// 	bottom: 15px;
// 	border-radius: 50%;
// 	border: 3px solid transparent;
// 	border-top-color: #FF00FF;
// 	-webkit-animation: spin 1.5s linear infinite;
// 	animation: spin 1.5s linear infinite;
// }
// @-webkit-keyframes spin {
// 	0%   {
// 		-webkit-transform: rotate(0deg);
// 		-ms-transform: rotate(0deg);
// 		transform: rotate(0deg);
// 	}
// 	100% {
// 		-webkit-transform: rotate(360deg);
// 		-ms-transform: rotate(360deg);
// 		transform: rotate(360deg);
// 	}
// }
// @keyframes spin {
// 	0%   {
// 		-webkit-transform: rotate(0deg);
// 		-ms-transform: rotate(0deg);
// 		transform: rotate(0deg);
// 	}
// 	100% {
// 		-webkit-transform: rotate(360deg);
// 		-ms-transform: rotate(360deg);
// 		transform: rotate(360deg);
// 	}
// }



// end preloader
