
@include respond-to('desktop'){

//  header
.header__top-block.active{
    min-height: max-content;
    height: max-content; 
}
.site-header{
    z-index: 3;
    flex-direction: column;
    &.active{
        position: fixed;
        // min-height: 100vh;
        background-color: #191921;   
        height: 100%; 
        z-index: 9999999999;
    }
}
.header__top-block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 35px 40px 30px 40px;
    background-color: transparent; 
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    &.active{
        background-color: #191921;
    }
}
.header-logo{
    padding: 0;
    height: 56px;
    width: auto;
}
.gamburger-button{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 54px;
    height: 40px;
        // transition: opacity 0.4s;
        cursor: pointer;
        &.active{
            display: none;
        }
    }
    .gamburger-button__line{
        width: 100%;
        height: 4px;
        background-color: white;
    }
    .gamburger-button_close{
        flex-direction: row;
        justify-content: center;
        height: 54px;
        width: 40px;        
        display: none;
        opacity: 0;
        transition: opacity 0.4s;
        &.active{
            display: flex;
            opacity: 1;
        }
        .gamburger-button__line{
            width: 4px;
            height: 100%;
        }
        .gamburger-button__line:first-child{
            transform: rotate(45deg);
        }
        .gamburger-button__line:last-child{
            transform: rotate(-45deg);
            margin-left: -4px;
        }
    }
    .menu-main-menu-container{
        display: none;
        width: 100%;
        // height: calc(100vh - 122px);
        background-color: #191921;
        margin-bottom: auto;
        height: 100%;
        &.active{
            min-height: max-content;
            margin-bottom: auto;
        }
        ul{
            background-color: #191921; 
        }     
    }    
    #menu-main-menu{
        flex-direction: column;
        .menu-item{
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);            
            &:last-child{
                border-bottom: 0;
            }
            a{
                transition: 0;
                padding: 40px 40px 30px;
                height: auto;
                text-transform: none;
                border-left: 0;
                color: white;
                line-height: 38px;
                width: 100%;
                font-size: 36px;
                letter-spacing: -0.02em;
                &.active{
                    background-color: #be1819;
                }
                &:hover{
                    background-color: #be1819;
                }
            }
        }
        .current-menu-item{
            a{
                background-color: transparent;
                &.active{
                    background-color: #be1819;
                }
            }
        } 
    }


//  end header


//  footer

.site-footer{
    width: 100%;
    justify-content: center;
}

//  end footer


// main-dots

.main-dots.booking-dots-second {
    display: none;
}
.main-dots{
    left: -37px;
    top: auto;
    bottom: 96px;
    transform: none;
    z-index: 3;        
}

// end main-dots


//  homepage 

.main_page{
    &.bg-active{
        background-image: url(./media/homepage-bg-tablet.png);
    }    
    background-position: top;
}
.main-page_video{
    // display: none;
}
.main_slider_item_txt{
    padding: 0 101px 148px 40px;
    letter-spacing: -0.02em;
}   

//  end homepage 

}
@media screen and (orientation:landscape) and (max-device-width: 991px) and (max-width: 991px){
    .site-header.active{
        height: 100%;
        z-index: 9999999999;
    }

    // .menu-main-menu-container{
        
    // }
    .menu-main-menu-container.active{
        height: 100%;
        margin-bottom: auto;
    }
    .main_slider_item_txt{
        padding: 20px;
        font-size: 22px;
        text-shadow: 2px 2px 2px #000; 
    }
    .site-footer{
        padding: 5px 40px;
    }
    .video-info{
        padding: 35px 20px;
        .video-info_duration {
            line-height: 1.3em;
            color: #616161;
            margin-bottom: 8px;
            text-shadow: 1px 1px 1px #fff;
        }
        .video-info_title{
            font-size: 22px;
            text-shadow: 2px 2px 2px #000; 
            line-height: 1.3em;   
        }
    }
    .slider_video .video-play_btn{
        height: 80px;
        width: 80px;
        background-position: 20%;
        background-size: 70%;
    }
    .video-play_btn_triangle {
        border: 13px solid transparent;
        border-left: 22px solid #fff;
        border-right: 0;
    }
}
@include respond-to("tablet"){
	.content-area{
		height: unset;
		min-height: unset;
	}
	.tourdates_page, .about_page, .booking_page{
		padding-top: 161px;
	}
}
@include respond-to('phone'){


//  header

.site-header{
    z-index: 3;
}
.header__top-block{
    padding: 18px 20px;
}
.header-logo{
    height: 29px;
    width: auto;
}
.gamburger-button{
    width: 34px;
    height: 25.8px;
}
.gamburger-button__line{
    height: 3px;
}
.gamburger-button_close{
    .gamburger-button__line{
        width: 3px;
    }
    .gamburger-button__line:last-child{
        margin-left: -3px;
    }
}
.menu-main-menu-container{
    height: 100%;
    // height: calc(100vh - 209px);
    // overflow-y: auto;
}
#menu-main-menu{
    .menu-item{
        a{
            padding: 20px;
            line-height: 25px;
            font-size: 24px;
            letter-spacing: -0.02em;
        }
    }
}

.social_links__phone{
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #191921;
    height: max-content;
    min-height: max-content;
    padding-bottom: 24px;
    padding-top: 24px;
    &.active{
        display: flex;
        margin-right: 0;
    }
}

//  end header


//  homepage 

.main_page{
    &.bg-active{
        background-image: url(./media/homepage-bg-phone.png);
    }
}
.main_slider_item_txt{
    padding: 0 59px 117px 20px;
    line-height: 51px;
    font-size: 48px;
}
.main-dots{
    width: 196px;
    height: 196px;
    left: -138px;
    bottom: 45px;
}

//  end homepage


//  video



//  end video

.slider_video{
    .video-play_btn{
        height: 80px;
        width: 80px;
        background-position: 20%;
        background-size: 70%;
    }
    .video-info{
        padding: 0 59px 117px 20px;
        font-size: 20px;
        line-height: 28px;
    }
}

//  footer

.site-footer{
    .social_links{
        display: none;
    }

}
.social_links__tablet{
    display: block;
}
.social_links__desktop{
    display: none;
}


//  end footer
}
@include respond-to('xs-phone'){
    .site-footer{
        padding: 15px 20px;
    }
}
// @media screen and (orientation:landscape) and (max-device-width: 900px) {
//     html{
//         -webkit-transform: rotate(-90deg);
//            -moz-transform: rotate(-90deg);
//             -ms-transform: rotate(-90deg);
//              -o-transform: rotate(-90deg);
//                 transform: rotate(-90deg);
//         -webkit-transform-origin: left top;
//            -moz-transform-origin: left top;
//             -ms-transform-origin: left top;
//              -o-transform-origin: left top;
//                 transform-origin: left top;
//         width: 320px; /*Разрешение экрана iPhone*/
//         position: absolute;
//         top: 100%;
//             left: 0
//     }
// }