// html {
//   background: transparent;
//   overflow-x: hidden;
//   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
// }
// body {
//     font-family: 'Open Sans';
//     font-size: 14px;
//     line-height: 1.4rem;
//     color: #000;
// }
// p {
//   font-family: 'Open Sans';
//   line-height: 1.8em;
//   font-size: 18px;
// }
// p.p-14 {
//   font-size: 14px;
// }

// h1 {
//   font-family: 'Open Sans SemiBold';
//   font-size: 48px;
// }
// h3 {
//   font-family: 'Open Sans Bold';
//   font-size: 24px;
//   letter-spacing: 0.2rem;
// }
// h5 {
//   font-family: 'Open Sans Bold';
//   font-size: 18px;
// }
// @include respond-to('tablet'){
//   h1 {
//     font-size: 32px;
//   }

//   p {
//     font-size: 14px;
//   }
// }
// @include respond-to('phone'){
//   h1 {
//     font-size: 26px;
//   }
// }