// tourdates page

.tourdates{
	width: 50%;
	margin-right: 94px;
	background-color: rgba(0, 0, 0, 0.7);
	-webkit-box-shadow: -29px 0px 67px 10px rgba(0,0,0,0.7);
	-moz-box-shadow: -29px 0px 67px 10px rgba(0,0,0,0.7);
	box-shadow: -29px 0px 67px 10px rgba(0,0,0,0.7);
	h1{
		font-size: 48px;
		line-height: 51px;
		font-weight: 300;
		margin-bottom: 48px;
	}
}

.slide-count{
	display: none;
	font-size: 12px;
	line-height: 13px;
	color: #fff;
	letter-spacing: 10px;
	text-align: left;
	margin-bottom: 6px;
	padding: 0 5px;
	&.active{
		display: block;
	}
}

.event_item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0 14px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	.date-text{
		font-size: 12px;
		line-height: 13px;
		color: rgba(255, 255, 255, 0.4);
		margin-bottom: 6px;
		letter-spacing: 10px;
	}
	.event_title{
		font-size: 24px;
		line-height: 34px;
		font-weight: 300;
	}
	.event_desc-txt{
		font-size: 16px;
		line-height: 23px;
		font-weight: 300;
	}
	.event_btn{
		background-color: rgba(190, 24, 25, 0.8);
		height: 49px;
		width: 122px;
		font-weight: 300;
		font-size: 18px;
		line-height: 25px;
		border: none;
		min-width: 125px;
		min-height: 50px;
	}
}
.event_content{
	padding-right: 15px;
}
	// @media(min-width:992px){
		.post-type-archive-tourdate{
			.content-area{
				// margin-bottom: 100px;
			}
		}
	// }
	@media only screen and (max-width:1836px){
		body{
			.tourdates{
				width: 45%;
			}
		}
	}
	@include respond-to("l-widescreen"){

		.bg-video.tourdates-video{
			position: fixed;
		}
		.tourdates h1{
			font-size: 36px;
			line-height: 38px;
		}
	// .tourdates{
	// 	width: 85%;
	// }
	.slick-vertical .slick-slide{
		width: 100% !important;
	}
}
@include respond-to("large-desktop"){
	.post-type-archive-tourdate {
		.tourdates {
			width: 90%;
			margin: 0 auto;
			margin-bottom: 0;
			background-color: unset;
			-webkit-box-shadow: unset;
			-moz-box-shadow: unset;
			box-shadow: unset;
		}
		.content-area{
			background-color: rgba(0, 0, 0, 0.7);
		}
	}
}
@media only screen and (min-width:991px) and (max-height:864px){
	.post-type-archive-tourdate{
		.site-footer{
			padding: 8px 20px;
		}
	}
}
@include respond-to("desktop"){
	body{
		.slick-vertical .slick-slide{
			width: 100% !important;
		}
		.bg-video.tourdates-video{
			position: relative;
			// left: 5%;
			height: 100%;
			width: 150%;
			order: 2;
			display: none;
		}
		.tourdates_page{
			flex-direction: column;
			&:after{
				content: '';
				position: relative;
				width: 100%;
				margin-left: -5vw;
				height: 1111px;
				display: block;
				background-position: bottom right;
				background-size: 100%;
				background-repeat: no-repeat;
				background-image: url(/wp-content/themes/spst/img/Warewolf.png);
			}
		}
	}
	.post-type-archive-tourdate{
		.content-area{
			margin-bottom: 0px;
		}
	}
}
@include respond-to("tablet"){
	body .tourdates_page:after{
		height: 829px;
	}	

	.tourdates_list{
		article{
			padding: 0 5px;
		}
	}
	.event_item{
		flex-direction: column;
		align-items: flex-start;
		padding-top: 0;
	}
	.event_content {
		padding-right: 0px;
		margin-bottom: 20px;
	}



}
@include respond-to("phone"){
	body .tourdates_page:after{
		height: 659px;
	}
}
@include respond-to("xs-phone"){
	body{
		.bg-video.tourdates-video{
			width: 200%;
		}
		.tourdates h1{
			font-size: 36px;
			line-height: 38px;
		}
		.tourdates_page:after{
			height: 524px;
		}
	}
}
@media only screen and (max-width: 375px){
	body{
		.tourdates_page:after{
			height: 413px;
		}
	}
}
// end tourdates page