ul.client-items
  :php
    global $post;
    $args = array( 'posts_per_page' => -1, 'post_type' => 'client', 'post_status' => 'publish');
    $myposts = get_posts( $args );
    foreach ( $myposts as $post ) {
      setup_postdata( $post );
      include(locate_template( 'clients-loop/loop-item.php' ));
    }
    wp_reset_postdata();