/*--DinRoundPro*/
@font-face {
  font-family: 'DinRoundPro';
  src: url("fonts/DinRoundProLight/DinRoundProLight.woff") format("woff");
  font-style: normal;
  font-weight: 300; }
@font-face {
  font-family: 'DinRoundPro';
  src: url("fonts/DinRoundProRegular/DinRoundProRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400; }
/*--/DinRoundPro*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

* {
  font-family: 'DinRoundPro';
  color: #fff;
  outline: none;
  user-select: none; }

a {
  transition: 0.4s; }
  a:hover {
    transition: 0.4; }

body {
  position: relative;
  overflow: hidden;
  overflow-y: visible;
  background-image: url("./media/fon-pages.adc64c6c.png");
  background-size: cover;
  background-position: 50% 50%;
  width: 100%;
  background-color: #000;
  font-size: 14px; }

.blocked {
  overflow: hidden; }

.white {
  color: #fff; }

.content-area {
  height: 100%;
  min-height: 100vh;
  position: relative; }

.slick-slider {
  opacity: 0; }

.slick-initialized {
  opacity: 1; }

.tourdates_page, .about_page, .booking_page {
  z-index: 1;
  position: relative;
  height: 100%;
  padding-top: 181px;
  display: flex;
  justify-content: flex-end; }

@media only screen and (max-width: 479px) {
  .tourdates_page, .about_page, .booking_page {
    padding-top: 80px; } }
.site-header {
  z-index: 2;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .site-header .menu {
    display: flex; }
  .site-header .current-menu-item a {
    background-color: #be1819; }
  .site-header .menu-item a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 23px;
    color: rgba(255, 255, 255, 0.8);
    padding: 0 40px;
    display: inline-flex;
    align-items: center;
    height: 120px;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    -webkit-tap-highlight-color: transparent; }
    .site-header .menu-item a:hover {
      background-color: #be1819; }

.header-logo {
  padding: 0 37px;
  height: 56px;
  width: auto; }

.social_links__phone {
  display: none; }

.home .bg-video {
  width: 100%; }

.bg-video {
  position: fixed;
  left: 0;
  top: 0;
  max-width: 100%;
  height: 100%;
  min-height: 100vh;
  object-fit: cover;
  object-position: left 50%;
  z-index: 0; }

.site-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 35px 40px;
  z-index: 2;
  display: flex;
  align-items: center; }

.social_links {
  margin-right: 17px; }

.social_links__tablet {
  display: none; }

.social_links_item {
  padding: 0 10px;
  text-decoration: none; }
  .social_links_item path {
    transition: 0.2s; }
  .social_links_item:hover path {
    transition: 0.2s;
    fill: #851B1B;
    fill-opacity: 1; }

.footer_txt {
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  align-items: center; }
  .footer_txt .developer-link {
    color: rgba(255, 255, 255, 0.6);
    display: flex;
    align-items: center;
    margin-left: 15px;
    text-decoration: none; }
    .footer_txt .developer-link .develper-logo {
      width: 20px;
      height: 15px;
      margin-left: 8px; }
      .footer_txt .developer-link .develper-logo path {
        transition: .4s; }
    .footer_txt .developer-link:hover {
      color: #851B1B;
      font-weight: 900; }
      .footer_txt .developer-link:hover path {
        color: #851B1B; }

.main_page {
  height: 100%;
  background-size: cover;
  background-position: center; }

.main-page_video {
  object-position: 50% 50%; }

.main_slider, .slider_video {
  position: relative;
  height: 100vh;
  overflow: hidden; }
  .main_slider .slick-dots, .slider_video .slick-dots {
    position: absolute;
    left: 40px;
    bottom: 27px;
    display: flex; }
    .main_slider .slick-dots button, .slider_video .slick-dots button {
      width: 60px;
      height: 4px;
      border: none;
      margin: 0 1px;
      background-color: rgba(255, 255, 255, 0.1);
      cursor: pointer; }
    .main_slider .slick-dots .slick-active button, .slider_video .slick-dots .slick-active button {
      background-color: rgba(190, 24, 25, 0.8); }

.main_slider_item {
  padding-top: 120px;
  height: 100vh;
  position: relative; }

.main_slider_item_txt {
  font-size: 96px;
  line-height: 101px;
  font-weight: 300;
  max-width: 1137px;
  padding: 101px;
  box-sizing: content-box;
  position: absolute;
  bottom: 0;
  left: 0; }

.slider_video {
  z-index: 1; }

.swiper-container {
  height: 100%;
  width: 100%; }

.swiper-slide {
  background: #fff;
  text-align: center; }

.video-container {
  position: relative;
  height: 100vh; }

.video-iframe {
  height: 100vh;
  width: 100%;
  z-index: 1;
  position: relative; }

.video-play,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.video-play {
  position: absolute;
  opacity: 0;
  transition: 0.4s;
  z-index: 2;
  height: 100%; }
  .video-play img {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 50% 50%; }
  .video-play.active {
    opacity: 1; }

.video-play_btn_triangle {
  height: 0;
  width: 0;
  border: 26px solid transparent;
  border-left: 42px  solid #fff;
  border-right: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 1.25s; }

.video-play_btn {
  height: 127px;
  width: 127px;
  background-color: rgba(190, 24, 25, 0.8);
  position: absolute;
  left: 50%;
  top: 50%;
  cursor: pointer;
  transform: translate(-50%, -50%);
  background-position: 24%;
  background-repeat: no-repeat;
  position: relative; }
  .video-play_btn:hover .video-play_btn_triangle {
    border-left: 42px solid rgba(190, 24, 25, 0.8); }

.video-info {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 61px 40px;
  max-width: 886px; }
  .video-info .video-info_duration {
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 10px;
    color: rgba(255, 255, 255, 0.4);
    display: block;
    margin-bottom: 12px;
    text-transform: uppercase; }
  .video-info .video-info_title {
    font-size: 48px;
    line-height: 51px;
    font-weight: 300; }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  .video-info {
    padding: 61px 20px; }
    .video-info .video-info_duration {
      font-size: 12px;
      line-height: 13px;
      letter-spacing: 6px;
      margin-bottom: 6px; }
    .video-info .video-info_title {
      font-size: 28px;
      line-height: 35px; } }
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  .video-play_btn_triangle {
    border: 13px solid transparent;
    border-left: 22px  solid #fff;
    border-right: 0; }

  .video-play_btn {
    height: 80px;
    width: 80px; }
    .video-play_btn:hover .video-play_btn_triangle {
      border-left: 22px solid rgba(190, 24, 25, 0.8); }

  .video-info {
    padding: 40px 10px; }
    .video-info .video-info_duration {
      font-size: 10px;
      line-height: 12px;
      letter-spacing: 4px;
      margin-bottom: 4px; }
    .video-info .video-info_title {
      font-size: 20px;
      line-height: 25px; } }
.contact_form .wpcf7-form-control-wrap {
  display: block; }
.contact_form .wpcf7-not-valid-tip {
  line-height: 34px; }
.contact_form .wpcf7-validation-errors {
  max-width: 100%;
  border-color: rgba(190, 24, 25, 0.8);
  margin-left: 0;
  margin-right: 0; }

.contact_inputs_wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-right: 92px; }
  .contact_inputs_wrap input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    font-size: 24px;
    line-height: 34px;
    font-weight: 300; }
  .contact_inputs_wrap > label {
    display: block;
    width: 48%;
    margin-bottom: 30px; }

.contact_item_title {
  display: block;
  font-size: 12px;
  line-height: 13px;
  letter-spacing: 10px;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 16px; }

.contact_submit {
  height: 49px;
  width: 180px;
  background-color: rgba(190, 24, 25, 0.8);
  font-size: 18px;
  line-height: 25px;
  font-weight: 300;
  border: none;
  margin-top: 50px;
  cursor: pointer; }

.btn_anim {
  border: 0 solid;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(190, 24, 25, 0.8);
  outline-offset: 0;
  text-shadow: none;
  -webkit-transition: all 1.25s cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 1.25s cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1.25s cubic-bezier(0.19, 1, 0.22, 1); }
  .btn_anim:hover {
    border: 1px solid;
    -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
    outline-color: rgba(255, 255, 255, 0);
    outline-offset: 15px;
    text-shadow: 0 0 2px #427388;
    background-color: transparent; }

.dots-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute; }
  .dots-wrapper .main-dots {
    position: absolute;
    top: 50%;
    left: -200px;
    width: 391px;
    height: 391px;
    background-image: url("./media/dots.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 100%;
    z-index: 1;
    transform: translate(0, -50%); }
  .dots-wrapper .main-dots.booking-dots-second {
    left: auto;
    right: -200px; }

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999; }

.loader {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }

.about_page {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 100px; }

.about {
  width: 50%; }

.entry-content {
  margin-bottom: 70px;
  margin-right: 85px; }
  .entry-content p {
    font-weight: 300;
    font-size: 48px;
    line-height: 51px; }

.about_awards_title {
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 10px; }

.award-items {
  display: flex;
  justify-content: space-between;
  margin-right: 85px;
  margin-bottom: 108px; }

.award-year {
  font-size: 12px;
  line-height: 13px;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 10px;
  margin-top: 32px; }

.award-title {
  font-weight: 300;
  font-size: 24px;
  line-height: 34px;
  margin-top: 4px; }

.award-place {
  font-size: 16px;
  line-height: 23px;
  font-weight: 500;
  margin-top: 4px; }

.about_clients_title {
  line-height: 15px;
  color: rgba(255, 255, 255, 0.4);
  margin-bottom: 40px;
  text-transform: uppercase;
  letter-spacing: 10px; }

.client-items {
  display: flex;
  justify-content: flex-start;
  margin-right: 44px;
  flex-wrap: wrap;
  align-items: center; }
  .client-items li {
    margin: 15px; }

@media only screen and (max-width: 1660px) {
  body .about {
    padding-right: 15px; }
  body .bg-video.about-video {
    position: fixed; }
  body .entry-content p {
    font-size: 36px;
    line-height: 38px; }
  body .award-items {
    flex-wrap: wrap;
    margin-bottom: 53px; }
    body .award-items .award-item {
      margin-right: 15px;
      margin-bottom: 55px; }
  body .client-items {
    justify-content: stretch; }
    body .client-items .client-item {
      margin-bottom: 40px;
      margin-right: 40px;
      flex-wrap: wrap; }
      body .client-items .client-item li {
        margin: 10px 10px; } }
@media only screen and (max-width: 1311px) {
  body .about {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0;
    padding-right: 0px; }

  .about-page {
    background-color: rgba(0, 0, 0, 0.7); } }
@media only screen and (max-width: 991px) {
  body {
    overflow-y: visible;
    display: flex;
    flex-direction: column; }
    body .about-page {
      order: 1;
      margin: 0 5%;
      margin-bottom: 0px;
      background-color: transparent; }
    body .bg-video.about-video {
      position: relative;
      height: 100%;
      width: 150%;
      min-height: unset;
      order: 2; }
    body .about {
      width: 100%; }
    body .main-dots {
      display: none; }
    body .award-items {
      margin-bottom: 23px; } }
@media only screen and (max-width: 767px) {
  body .about_page {
    margin-bottom: 0; }
  body .about_content::after {
    content: '';
    position: relative;
    width: calc(100% + 10vw);
    margin-left: -5vw;
    height: 868px;
    display: block;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/wp-content/themes/spst/img/UnlceSam.png"); }
  body .bg-video.about-video {
    display: none; }

  .entry-content {
    margin-right: 0px; } }
@media only screen and (max-width: 567px) {
  body .about_content::after {
    background-size: 110%; }
  body .about_content .client-items {
    flex-direction: column;
    align-items: flex-start; }
  body .entry-content p {
    font-size: 24px;
    line-height: 25px; }
  body .about_awards_title, body .about_clients_title {
    font-size: 12px;
    line-height: 17px; }
  body .award-year {
    font-size: 10px;
    line-height: 11px; }
  body .award-title {
    font-size: 20px;
    line-height: 28px; }
  body .award-place {
    font-size: 14px;
    line-height: 20px; } }
@media only screen and (max-width: 479px) {
  body .about-page {
    margin: 0 20px; }
  body .about_content::after {
    height: 675px;
    background-size: 130%;
    background-position-x: 35%; } }
@media only screen and (max-width: 350px) {
  body .about_content::after {
    height: 675px;
    background-size: 150%; } }
.tourdates {
  width: 50%;
  margin-right: 94px;
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: -29px 0px 67px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: -29px 0px 67px 10px rgba(0, 0, 0, 0.7);
  box-shadow: -29px 0px 67px 10px rgba(0, 0, 0, 0.7); }
  .tourdates h1 {
    font-size: 48px;
    line-height: 51px;
    font-weight: 300;
    margin-bottom: 48px; }

.slide-count {
  display: none;
  font-size: 12px;
  line-height: 13px;
  color: #fff;
  letter-spacing: 10px;
  text-align: left;
  margin-bottom: 6px;
  padding: 0 5px; }
  .slide-count.active {
    display: block; }

.event_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
  .event_item .date-text {
    font-size: 12px;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 6px;
    letter-spacing: 10px; }
  .event_item .event_title {
    font-size: 24px;
    line-height: 34px;
    font-weight: 300; }
  .event_item .event_desc-txt {
    font-size: 16px;
    line-height: 23px;
    font-weight: 300; }
  .event_item .event_btn {
    background-color: rgba(190, 24, 25, 0.8);
    height: 49px;
    width: 122px;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    border: none;
    min-width: 125px;
    min-height: 50px; }

.event_content {
  padding-right: 15px; }

@media only screen and (max-width: 1836px) {
  body .tourdates {
    width: 45%; } }
@media only screen and (max-width: 1660px) {
  .bg-video.tourdates-video {
    position: fixed; }

  .tourdates h1 {
    font-size: 36px;
    line-height: 38px; }

  .slick-vertical .slick-slide {
    width: 100% !important; } }
@media only screen and (max-width: 1311px) {
  .post-type-archive-tourdate .tourdates {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0;
    background-color: unset;
    -webkit-box-shadow: unset;
    -moz-box-shadow: unset;
    box-shadow: unset; }
  .post-type-archive-tourdate .content-area {
    background-color: rgba(0, 0, 0, 0.7); } }
@media only screen and (min-width: 991px) and (max-height: 864px) {
  .post-type-archive-tourdate .site-footer {
    padding: 8px 20px; } }
@media only screen and (max-width: 991px) {
  body .slick-vertical .slick-slide {
    width: 100% !important; }
  body .bg-video.tourdates-video {
    position: relative;
    height: 100%;
    width: 150%;
    order: 2;
    display: none; }
  body .tourdates_page {
    flex-direction: column; }
    body .tourdates_page:after {
      content: '';
      position: relative;
      width: 100%;
      margin-left: -5vw;
      height: 1111px;
      display: block;
      background-position: bottom right;
      background-size: 100%;
      background-repeat: no-repeat;
      background-image: url(/wp-content/themes/spst/img/Warewolf.png); }

  .post-type-archive-tourdate .content-area {
    margin-bottom: 0px; } }
@media only screen and (max-width: 767px) {
  body .tourdates_page:after {
    height: 829px; }

  .tourdates_list article {
    padding: 0 5px; }

  .event_item {
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0; }

  .event_content {
    padding-right: 0px;
    margin-bottom: 20px; } }
@media only screen and (max-width: 567px) {
  body .tourdates_page:after {
    height: 659px; } }
@media only screen and (max-width: 479px) {
  body .bg-video.tourdates-video {
    width: 200%; }
  body .tourdates h1 {
    font-size: 36px;
    line-height: 38px; }
  body .tourdates_page:after {
    height: 524px; } }
@media only screen and (max-width: 375px) {
  body .tourdates_page:after {
    height: 413px; } }
.booking, .contact-us {
  width: 50%;
  margin-bottom: 100px; }
  .booking input, .booking #contact_messege, .contact-us input, .contact-us #contact_messege {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text; }
  .booking textarea:first-child, .contact-us textarea:first-child {
    z-index: -1; }

.booking {
  max-width: 800px; }

.booking_title {
  font-weight: 300;
  font-size: 48px;
  line-height: 51px;
  margin-bottom: 97px; }

.booking_content_line {
  margin-top: 68px;
  display: flex;
  justify-content: space-between; }
  .booking_content_line .booking_country {
    flex: 1; }

.booking_item {
  flex: 1; }

.booking_country_name {
  margin-bottom: 28px;
  font-size: 12px;
  line-height: 18px;
  color: rgba(255, 255, 255, 0.4);
  letter-spacing: 10px;
  text-transform: uppercase; }
  .booking_country_name span {
    font-size: 12px;
    line-height: 18px;
    color: rgba(255, 255, 255, 0.4);
    letter-spacing: 10px;
    text-transform: uppercase;
    display: block; }
    .booking_country_name span:first-child {
      margin-bottom: 12px; }

.booking_country_content {
  display: flex;
  justify-content: space-between; }

.booking_country_content:first-of-type {
  margin-bottom: 30px; }

.booking_name {
  font-size: 24px;
  line-height: 34px;
  font-weight: 300;
  margin-bottom: 5px; }

.booking_item a {
  font-size: 16px;
  line-height: 23px;
  font-weight: 300;
  display: block;
  text-decoration: none; }

body .contact-us-area .btn_anim {
  -webkit-appearance: unset; }

.contact_messege_wrap > label {
  padding-right: 92px;
  display: block; }
.contact_messege_wrap #contact_messege {
  background-color: transparent;
  border: none;
  width: 100%;
  font-size: 24px;
  line-height: 60px;
  font-weight: 300;
  resize: none;
  background-attachment: local;
  background-image: repeating-linear-gradient(transparent, transparent 59px, rgba(255, 255, 255, 0.2) 60px); }

@media (max-width: 1550px) {
  .booking, .contact-us {
    width: 40%; } }
@media only screen and (max-width: 1311px) {
  .booking-area, .contact-us-area {
    background-color: rgba(0, 0, 0, 0.7); }

  .booking, .contact-us {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 0px; }

  .booking {
    margin-bottom: 60px; }

  body .wpcf7-form .wpcf7-submit {
    margin-bottom: 50px; } }
@media only screen and (max-width: 991px) {
  .booking-area, .contact-us-area {
    order: 1; }

  .booking-video {
    order: 2;
    position: relative;
    height: auto;
    width: 150%; }

  .booking {
    margin-bottom: 0px; } }
@media only screen and (max-width: 767px) {
  body {
    overflow-y: visible;
    display: flex;
    flex-direction: column; }
    body .wpcf7-form .wpcf7-submit {
      margin-bottom: 25px;
      margin-top: 25px; }
    body .contact_inputs_wrap, body .contact_messege_wrap > label {
      padding-right: 0px; }
    body .contact_inputs_wrap > label {
      width: 100%; }
    body .contact-us-video, body .booking-video {
      display: none; }
    body .booking-area, body .contact-us-area {
      order: 1; }
      body .booking-area .booking_page .contact-us:after, body .booking-area .booking_page .booking:after, body .contact-us-area .booking_page .contact-us:after, body .contact-us-area .booking_page .booking:after {
        content: "";
        position: relative;
        width: calc(100% + 10vw);
        margin-left: -5vw;
        height: 696px;
        display: block;
        background-position: 100% 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-image: url(/wp-content/themes/spst/img/Spaceman.png); }
      body .booking-area .booking_page .contact-us:after, body .contact-us-area .booking_page .contact-us:after {
        margin-top: 15px;
        background-position: top center;
        height: 750px;
        background-image: url(/wp-content/themes/spst/img/Dracula.png); }
    body .bg-video {
      order: 2; }
    body .booking_country_content, body .booking_content_line {
      flex-direction: column; }
      body .booking_country_content .booking_item, body .booking_country_content .booking_country, body .booking_content_line .booking_item, body .booking_content_line .booking_country {
        margin-right: 0;
        margin-bottom: 20px; }
    body .booking_content_line {
      margin-top: 40px; } }
div.wpcf7-validation-errors, div.wpcf7-acceptance-missing {
  width: max-content;
  padding: 10px; }

@media only screen and (max-width: 567px) {
  body .booking-area .booking_page .booking:after, body .contact-us-area .booking_page .booking:after {
    height: 520px; }
  body .booking-area .booking_page .contact-us:after, body .contact-us-area .booking_page .contact-us:after {
    height: 555px; } }
@media only screen and (max-width: 479px) {
  body .booking-area .booking_page .booking:after, body .contact-us-area .booking_page .booking:after {
    height: 436px; }
  body .booking-area .booking_page .contact-us:after, body .contact-us-area .booking_page .contact-us:after {
    height: 475px; } }
@media only screen and (max-width: 375px) {
  body .booking-area .booking_page .booking:after, body .contact-us-area .booking_page .booking:after {
    height: 343px; }
  body .booking-area .booking_page .contact-us:after, body .contact-us-area .booking_page .contact-us:after {
    height: 375px; } }
@media only screen and (max-width: 991px) {
  .header__top-block.active {
    min-height: max-content;
    height: max-content; }

  .site-header {
    z-index: 3;
    flex-direction: column; }
    .site-header.active {
      position: fixed;
      background-color: #191921;
      height: 100%;
      z-index: 9999999999; }

  .header__top-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 35px 40px 30px 40px;
    background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
    .header__top-block.active {
      background-color: #191921; }

  .header-logo {
    padding: 0;
    height: 56px;
    width: auto; }

  .gamburger-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 54px;
    height: 40px;
    cursor: pointer; }
    .gamburger-button.active {
      display: none; }

  .gamburger-button__line {
    width: 100%;
    height: 4px;
    background-color: white; }

  .gamburger-button_close {
    flex-direction: row;
    justify-content: center;
    height: 54px;
    width: 40px;
    display: none;
    opacity: 0;
    transition: opacity 0.4s; }
    .gamburger-button_close.active {
      display: flex;
      opacity: 1; }
    .gamburger-button_close .gamburger-button__line {
      width: 4px;
      height: 100%; }
    .gamburger-button_close .gamburger-button__line:first-child {
      transform: rotate(45deg); }
    .gamburger-button_close .gamburger-button__line:last-child {
      transform: rotate(-45deg);
      margin-left: -4px; }

  .menu-main-menu-container {
    display: none;
    width: 100%;
    background-color: #191921;
    margin-bottom: auto;
    height: 100%; }
    .menu-main-menu-container.active {
      min-height: max-content;
      margin-bottom: auto; }
    .menu-main-menu-container ul {
      background-color: #191921; }

  #menu-main-menu {
    flex-direction: column; }
    #menu-main-menu .menu-item {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1); }
      #menu-main-menu .menu-item:last-child {
        border-bottom: 0; }
      #menu-main-menu .menu-item a {
        transition: 0;
        padding: 40px 40px 30px;
        height: auto;
        text-transform: none;
        border-left: 0;
        color: white;
        line-height: 38px;
        width: 100%;
        font-size: 36px;
        letter-spacing: -0.02em; }
        #menu-main-menu .menu-item a.active {
          background-color: #be1819; }
        #menu-main-menu .menu-item a:hover {
          background-color: #be1819; }
    #menu-main-menu .current-menu-item a {
      background-color: transparent; }
      #menu-main-menu .current-menu-item a.active {
        background-color: #be1819; }

  .site-footer {
    width: 100%;
    justify-content: center; }

  .main-dots.booking-dots-second {
    display: none; }

  .main-dots {
    left: -37px;
    top: auto;
    bottom: 96px;
    transform: none;
    z-index: 3; }

  .main_page {
    background-position: top; }
    .main_page.bg-active {
      background-image: url(./media/homepage-bg-tablet.png); }

  .main_slider_item_txt {
    padding: 0 101px 148px 40px;
    letter-spacing: -0.02em; } }
@media screen and (orientation: landscape) and (max-device-width: 991px) and (max-width: 991px) {
  .site-header.active {
    height: 100%;
    z-index: 9999999999; }

  .menu-main-menu-container.active {
    height: 100%;
    margin-bottom: auto; }

  .main_slider_item_txt {
    padding: 20px;
    font-size: 22px;
    text-shadow: 2px 2px 2px #000; }

  .site-footer {
    padding: 5px 40px; }

  .video-info {
    padding: 35px 20px; }
    .video-info .video-info_duration {
      line-height: 1.3em;
      color: #616161;
      margin-bottom: 8px;
      text-shadow: 1px 1px 1px #fff; }
    .video-info .video-info_title {
      font-size: 22px;
      text-shadow: 2px 2px 2px #000;
      line-height: 1.3em; }

  .slider_video .video-play_btn {
    height: 80px;
    width: 80px;
    background-position: 20%;
    background-size: 70%; }

  .video-play_btn_triangle {
    border: 13px solid transparent;
    border-left: 22px solid #fff;
    border-right: 0; } }
@media only screen and (max-width: 767px) {
  .content-area {
    height: unset;
    min-height: unset; }

  .tourdates_page, .about_page, .booking_page {
    padding-top: 161px; } }
@media only screen and (max-width: 567px) {
  .site-header {
    z-index: 3; }

  .header__top-block {
    padding: 18px 20px; }

  .header-logo {
    height: 29px;
    width: auto; }

  .gamburger-button {
    width: 34px;
    height: 25.8px; }

  .gamburger-button__line {
    height: 3px; }

  .gamburger-button_close .gamburger-button__line {
    width: 3px; }
  .gamburger-button_close .gamburger-button__line:last-child {
    margin-left: -3px; }

  .menu-main-menu-container {
    height: 100%; }

  #menu-main-menu .menu-item a {
    padding: 20px;
    line-height: 25px;
    font-size: 24px;
    letter-spacing: -0.02em; }

  .social_links__phone {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #191921;
    height: max-content;
    min-height: max-content;
    padding-bottom: 24px;
    padding-top: 24px; }
    .social_links__phone.active {
      display: flex;
      margin-right: 0; }

  .main_page.bg-active {
    background-image: url(./media/homepage-bg-phone.png); }

  .main_slider_item_txt {
    padding: 0 59px 117px 20px;
    line-height: 51px;
    font-size: 48px; }

  .main-dots {
    width: 196px;
    height: 196px;
    left: -138px;
    bottom: 45px; }

  .slider_video .video-play_btn {
    height: 80px;
    width: 80px;
    background-position: 20%;
    background-size: 70%; }
  .slider_video .video-info {
    padding: 0 59px 117px 20px;
    font-size: 20px;
    line-height: 28px; }

  .site-footer .social_links {
    display: none; }

  .social_links__tablet {
    display: block; }

  .social_links__desktop {
    display: none; } }
@media only screen and (max-width: 479px) {
  .site-footer {
    padding: 15px 20px; } }
body .bg-video.about-video.page-not-found {
  width: auto;
  object-position: center;
  position: inherit;
  display: flex;
  height: 100vh;
  margin: auto; }

@media only screen and (max-width: 767px) {
  body .bg-video.about-video.page-not-found {
    display: block;
    width: 100%;
    height: 100vh; } }
@media only screen and (max-width: 687px) {
  body .bg-video.about-video.page-not-found {
    display: block;
    width: 100%;
    height: auto; } }
body.error404.hfeed.no-sidebar {
  height: 100vh; }
  body.error404.hfeed.no-sidebar a.height-all {
    margin: auto -45%; }

.shopify-buy__collection {
  display: none; }

.shopify-buy-frame {
  display: none; }

.shopify-buy__cart-toggle {
  background-color: #be1819;
  flex-direction: column-reverse;
  text-align: center;
  cursor: pointer; }

.shop_page {
  z-index: 1;
  position: relative;
  height: 100%;
  padding-top: 101px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-bottom: 50px;
  color: #000; }
  .shop_page .shopify-buy__collection {
    display: block; }
  .shop_page #cart-toggle .shopify-buy-frame--toggle.is-active.is-sticky {
    display: block;
    position: absolute;
    top: -50px;
    right: 20px; }
  .shop_page #cart-toggle .shopify-buy__cart-toggle {
    color: #fff;
    border-radius: 3px 0 0 3px;
    background-color: transparent;
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
    min-width: 46px;
    margin-right: 0;
    cursor: pointer;
    position: absolute;
    top: 20%;
    right: 20px;
    transition: background 200ms ease; }
  .shop_page #cart-toggle .shopify-buy__cart-toggle:hover {
    background-color: #c01819; }
    .shop_page #cart-toggle .shopify-buy__cart-toggle:hover .shopify-buy__cart-toggle__count {
      border-left: 1px solid #000; }

.shop_title {
  font-weight: 300;
  font-size: 38px;
  line-height: 51px;
  padding-top: 180px;
  text-align: center; }

ul {
  list-style: none;
  padding-left: 0;
  margin: 0; }

img {
  display: block;
  max-width: 100%; }

input {
  -webkit-appearance: textfield;
  margin: 0; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.visuallyhidden {
  border: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.component-container {
  overflow: hidden; }

.shopify-buy__type--center {
  text-align: center; }

.shopify-buy--visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden; }

.shopify-buy__btn {
  margin: 20px;
  color: #fff;
  width: 390px;
  height: 90px;
  background-color: rgba(192, 24, 25, 0.95);
  display: block;
  border-radius: 3px;
  cursor: pointer;
  transition: background 200ms ease;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1.2;
  border: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  opacity: 0.8;
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase; }

.shopify-buy__btn--parent {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer; }

.shopify-buy__btn--parent:hover .product__variant-img, .shopify-buy__btn--parent:focus .product__variant-img {
  opacity: .7; }

.shopify-buy__btn--cart-tab {
  padding: 5px 11px;
  border-radius: 3px 0 0 3px;
  position: fixed;
  right: 0;
  top: 50%;
  -webkit-transform: translate(100%, -50%);
  transform: translate(100%, -50%);
  opacity: 0;
  min-width: inherit;
  width: auto;
  height: auto;
  z-index: 2147483647; }

.shopify-buy__btn--cart-tab.is-active {
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  opacity: 1; }

.shopify-buy__btn__counter {
  display: block;
  margin: 0 auto 10px auto;
  font-size: 18px; }

.shopify-buy__icon-cart--side {
  height: 50px;
  width: 70px;
  padding: 14px;
  border: 1px solid #414141;
  border-right: none; }

.shopify-buy__btn[disabled] {
  background-color: none;
  color: #fff;
  pointer-events: none; }

.shopify-buy__btn--close {
  position: absolute;
  right: 9px;
  top: 8px;
  font-size: 35px;
  color: #767676;
  border: none;
  background-color: transparent;
  transition: color 100ms ease, -webkit-transform 100ms ease;
  transition: transform 100ms ease, color 100ms ease;
  transition: transform 100ms ease, color 100ms ease, -webkit-transform 100ms ease;
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-right: 9px; }

.shopify-buy__btn--close:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  color: dimgray; }

.shopify-buy__quantity-decrement,
.shopify-buy__quantity-increment {
  color: #4c4c4c;
  display: block;
  height: 30px;
  float: left;
  line-height: 16px;
  font-family: monospace;
  width: 26px;
  padding: 0;
  border: none;
  background: transparent;
  box-shadow: none;
  cursor: pointer;
  font-size: 18px;
  text-align: center;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  border: 1px solid #767676;
  position: relative; }

.shopify-buy__quantity-decrement svg, .shopify-buy__quantity-increment svg {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -6px;
  margin-left: -7px;
  fill: currentColor; }

.shopify-buy__quantity-decrement {
  border-radius: 3px 0 0 3px; }

.shopify-buy__quantity-increment {
  border-radius: 0 3px 3px 0; }

.shopify-buy__quantity {
  color: black;
  width: 45px;
  height: 30px;
  font-size: 16px;
  border: none;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: textfield;
  display: inline-block;
  padding: 0;
  border-radius: 0;
  border-top: 1px solid #767676;
  border-bottom: 1px solid #767676; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.shopify-buy__quantity-container.shopify-buy__quantity-with-btns {
  overflow: hidden; }

.shopify-buy__quantity-container.shopify-buy__quantity-with-btns .shopify-buy__quantity {
  border-left: 0;
  border-right: 0;
  float: left; }

.shopify-buy__option-select-wrapper {
  border: 1px solid #d3dbe2;
  border-radius: 3px;
  box-sizing: border-box;
  position: relative;
  background: #fff;
  overflow: hidden;
  vertical-align: bottom; }

.shopify-buy__select-icon {
  cursor: pointer;
  display: block;
  fill: #798c9c;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -6px;
  pointer-events: none;
  width: 12px;
  height: 12px;
  vertical-align: middle; }

.shopify-buy__option-select + .shopify-buy__option-select {
  margin-top: 7.5px; }

.shopify-buy__option-select__label {
  display: block;
  font-size: 14px;
  margin-top: 15px;
  margin-bottom: 5px; }

.shopify-buy__btn--parent .shopify-buy__option-select__label {
  cursor: pointer; }

.shopify-buy__option-select__select {
  font-size: inherit;
  padding: 7px 10px;
  padding-right: 32px;
  border: 0;
  width: 100%;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none; }

.shopify-buy__option-select__select::-ms-expand {
  display: none; }

.shopify-buy__btn--parent .shopify-buy__option-select__select {
  cursor: pointer; }

.shopify-buy__product {
  overflow: hidden;
  width: 100%;
  position: relative;
  transition: 0.5s; }
  .shopify-buy__product:hover .shopify-buy__btn-wrapper {
    display: block; }
  .shopify-buy__product:hover .shopify-buy__product-img-wrapper img {
    transform: scale(1.2); }

.shopify-buy__product__variant-img {
  margin: 0 auto 15px auto;
  transition: opacity 0.3s ease;
  opacity: 1; }

.shopify-buy__product__variant-img.is-transitioning {
  opacity: 0; }

.shopify-buy__is-button {
  cursor: pointer; }

.shopify-buy__no-image .shopify-buy__product__variant-img {
  display: none; }

.shopify-buy__product__title {
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 15px;
  font-weight: 700; }

.shopify-buy__layout-horizontal .shopify-buy__product__title {
  margin-top: 10px; }

.shopify-buy__product__variant-title {
  font-size: 18px;
  color: #666;
  font-weight: 400;
  text-align: center;
  margin-bottom: 15px; }

.shopify-buy__product__price {
  margin-bottom: 15px;
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #000000;
  padding: 17px 23px; }

.shopify-buy__product-description {
  margin-top: 30px;
  line-height: 1.65;
  color: #4a4a4a; }

.shopify-buy__product-description p,
.shopify-buy__product-description ul,
.shopify-buy__product-description ol,
.shopify-buy__product-description img {
  margin-bottom: 10px; }

.shopify-buy__product-description p:last-child, .shopify-buy__product-description ul:last-child, .shopify-buy__product-description ol:last-child, .shopify-buy__product-description img:last-child {
  margin-bottom: 0; }

.shopify-buy__product-description a {
  color: inherit; }

.shopify-buy__product-description img {
  max-width: 100%; }

.shopify-buy__product-description h1 {
  font-size: 20px; }

.shopify-buy__product-description h2 {
  font-size: 18px; }

.shopify-buy__product-description h3 {
  font-size: 17px; }

.shopify-buy__product-description ul,
.shopify-buy__product-description ol {
  margin-left: 2em; }

.shopify-buy__product-description ul {
  list-style-type: disc; }

.shopify-buy__layout-vertical {
  text-align: center; }
  .shopify-buy__layout-vertical .shopify-buy__product-img-wrapper {
    max-height: 350px; }

.shopify-buy__product__actual-price,
.shopify-buy__product__compare-price {
  color: #4a4a4a;
  display: inline-block; }

.shopify-buy__product__actual-price {
  width: 32px;
  height: 19px;
  opacity: 0.8;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500; }

.shopify-buy__product__compare-price {
  font-size: 12px;
  text-decoration: line-through;
  padding-left: 5px;
  opacity: 0.65; }

.shopify-buy__product__variant-selectors {
  text-align: left;
  font-size: 14px; }

.shopify-buy__layout-vertical .shopify-buy__product__variant-selectors {
  width: 100%;
  max-width: 280px;
  display: inline-block; }

.shopify-buy__quantity {
  border-left: 1px solid;
  border-right: 1px solid;
  border-radius: 3px; }

.shopify-buy__quantity,
.shopify-buy__quantity-increment,
.shopify-buy__quantity-decrement {
  border-color: #d3dbe2;
  line-height: 1.2;
  font-size: 15px;
  height: auto;
  padding-top: 12px;
  padding-bottom: 12px; }

.shopify-buy__btn {
  display: inline-block; }

.shopify-buy__btn-wrapper {
  transition: 0.3s;
  display: none;
  width: 100%;
  border: none;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  bottom: 0; }

.shopify-buy__btn.shopify-buy__beside-quantity {
  display: inline-block;
  vertical-align: top;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid transparent; }

.shopify-buy__btn-and-quantity {
  display: flex; }

.shopify-buy__btn-and-quantity .shopify-buy__quantity {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  background: #fff; }

.shopify-buy__btn-and-quantity .shopify-buy__quantity-container {
  display: inline-block;
  vertical-align: top; }

.shopify-buy__btn-and-quantity .shopify-buy__btn-wrapper {
  position: static;
  padding: 0;
  display: inline-block;
  vertical-align: top;
  margin: 0; }

.shopify-buy__cart-item__quantity-container {
  margin-top: 20px;
  display: inline-block; }

.shopify-buy__layout-vertical .shopify-buy__btn,
.shopify-buy__layout-vertical .shopify-buy__quantity-container,
.shopify-buy__layout-horizontal .shopify-buy__btn,
.shopify-buy__layout-horizontal .shopify-buy__quantity-container {
  margin: 20px auto 0; }

.shopify-buy__layout-vertical .shopify-buy__btn:first-child, .shopify-buy__layout-horizontal .shopify-buy__btn:first-child {
  margin-top: 0; }

.shopify-buy__layout-vertical .shopify-buy__btn-and-quantity, .shopify-buy__layout-horizontal .shopify-buy__btn-and-quantity {
  margin: 20px auto 0; }

.shopify-buy__layout-vertical .shopify-buy__btn-and-quantity .shopify-buy__btn,
.shopify-buy__layout-vertical .shopify-buy__btn-and-quantity .shopify-buy__quantity-container,
.shopify-buy__layout-horizontal .shopify-buy__btn-and-quantity .shopify-buy__btn,
.shopify-buy__layout-horizontal .shopify-buy__btn-and-quantity .shopify-buy__quantity-container {
  margin: 0 auto; }

.shopify-buy__layout-vertical .shopify-buy__btn-and-quantity:first-child, .shopify-buy__layout-horizontal .shopify-buy__btn-and-quantity:first-child {
  margin: 0 auto; }

@media (min-width: 680px) {
  .shopify-buy__layout-horizontal:not(.no-image) .shopify-buy__product__title,
  .shopify-buy__layout-horizontal:not(.no-image) .shopify-buy__product__variant-title,
  .shopify-buy__layout-horizontal:not(.no-image) .shopify-buy__product__price,
  .shopify-buy__layout-horizontal:not(.no-image) .shopify-buy__product-description,
  .shopify-buy__layout-horizontal:not(.no-image) .shopify-buy__btn-and-quantity,
  .shopify-buy__layout-horizontal:not(.no-image) > .shopify-buy__btn-wrapper,
  .shopify-buy__layout-horizontal:not(.no-image) > .shopify-buy__quantity-container,
  .shopify-buy__layout-horizontal:not(.no-image) .shopify-buy__product__variant-selectors {
    margin-left: calc(60% + 25px); } }
.no-image .shopify-buy__product-img-wrapper {
  display: none; }

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0; } }
@keyframes dash {
  to {
    stroke-dashoffset: 0; } }
.shopify-buy__carousel {
  font-size: 0;
  text-align: center;
  min-height: 90px;
  margin-left: -15px;
  margin-top: 15px; }

.shopify-buy__carousel-item:nth-child(n+7) {
  margin-top: 15px; }

.shopify-buy__carousel-item:before {
  content: "";
  display: block;
  padding-top: 100%; }

.main-image-wrapper {
  position: relative; }

.carousel-button:hover,
.carousel-button:focus {
  opacity: 0.9;
  outline: none; }

.carousel-button-arrow {
  width: 20px;
  display: inline-block;
  margin-left: 25px; }

.carousel-button--previous {
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.carousel-button--next {
  right: 0; }

.shopify-buy__carousel-item--selected {
  opacity: 0.4; }

.shopify-buy__btn--close {
  display: none;
  right: 0px;
  font-size: 45px;
  font-weight: 100;
  z-index: 2147483647;
  padding: 0 10px; }

.shopify-buy__modal {
  background: #000;
  width: calc(100% - 20px);
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 40px;
  z-index: 2147483646; }
  .shopify-buy__modal .shopify-buy__product {
    position: relative;
    height: 680px; }
  .shopify-buy__modal .shopify-buy__product__variant-img {
    width: 90%;
    margin: 0 0 40px; }
  .shopify-buy__modal .shopify-buy__product-img-wrapper {
    position: absolute;
    right: 25%;
    width: 60%;
    height: 90%; }
  .shopify-buy__modal .main-image-wrapper {
    position: absolute;
    height: 100%;
    min-width: 480px; }
    .shopify-buy__modal .main-image-wrapper .carousel-button-arrow {
      filter: invert(1);
      height: 18px; }
  .shopify-buy__modal .shopify-buy__carousel {
    margin-top: 40px;
    font-size: 0;
    text-align: center;
    min-height: 90px;
    margin-left: -120px;
    margin-top: 80px; }
  .shopify-buy__modal .shopify-buy__carousel-item {
    width: calc(14.666% - 25px);
    margin-left: 15px;
    display: flex;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    background-size: cover;
    background-position: center;
    padding: 0;
    border: none;
    margin: 10px; }
  .shopify-buy__modal .carousel-button {
    position: absolute;
    border: 1px solid #fff;
    left: -74px;
    font-size: 0;
    background-color: transparent;
    cursor: pointer; }
  .shopify-buy__modal .carousel-button-arrow {
    margin: 0; }
  .shopify-buy__modal .carousel-button--next {
    left: -19%;
    bottom: 70px;
    transform: rotate(90deg);
    height: 105px;
    padding: 0 10px; }
  .shopify-buy__modal .carousel-button--previous {
    left: -19%;
    top: -20px;
    transform: rotate(-90deg);
    height: 107px;
    padding: 0 10px; }
  .shopify-buy__modal .shopify-buy__btn[disabled] {
    background-color: none;
    color: #fff; }
  .shopify-buy__modal .shopify-buy__option-select__select {
    color: #000;
    cursor: pointer; }
    .shopify-buy__modal .shopify-buy__option-select__select option {
      color: #000; }
  .shopify-buy__modal .shopify-buy__product:hover .shopify-buy__product-img-wrapper img {
    transform: unset; }
  .shopify-buy__modal .shopify-buy__product__title {
    font-size: 48px;
    margin: 0; }
  .shopify-buy__modal .shopify-buy__product__price {
    position: static;
    padding: 0; }
    .shopify-buy__modal .shopify-buy__product__price span {
      font-size: 48px;
      color: #fff; }
  .shopify-buy__modal .shopify-buy__product__variant-selectors {
    display: flex; }
    .shopify-buy__modal .shopify-buy__product__variant-selectors .shopify-buy__option-select {
      flex: 1 1 50%; }
      .shopify-buy__modal .shopify-buy__product__variant-selectors .shopify-buy__option-select:last-of-type {
        margin: 0 0 0 20px; }
  .shopify-buy__modal .shopify-buy__btn-wrapper {
    background-color: #c01819; }
  .shopify-buy__modal .shopify-buy__quantity {
    display: flex;
    height: 100%;
    width: 110px;
    height: 90px;
    font-size: 20px; }
  .shopify-buy__modal .shopify-buy__beside-quantity {
    width: auto; }
  .shopify-buy__modal .shopify-buy__product-description {
    text-align: justify; }

.shopify-buy-frame--cart {
  width: 500px; }
  .shopify-buy-frame--cart .shopify-buy__cart__header {
    margin: 70px 40px 20px 40px;
    border-bottom: 1px solid #414141;
    padding: 0 0 20px 0; }
    .shopify-buy-frame--cart .shopify-buy__cart__header .shopify-buy__cart__title {
      color: #000;
      font-size: 36px; }
    .shopify-buy-frame--cart .shopify-buy__cart__header .shopify-buy__btn--close {
      display: block;
      padding: 0;
      top: -18px; }
      .shopify-buy-frame--cart .shopify-buy__cart__header .shopify-buy__btn--close span {
        color: #000; }
      .shopify-buy-frame--cart .shopify-buy__cart__header .shopify-buy__btn--close:hover {
        transform: none; }
  .shopify-buy-frame--cart .shopify-buy__cart-scroll {
    padding: 150px 0 135px; }
    .shopify-buy-frame--cart .shopify-buy__cart-scroll .shopify-buy__cart-items {
      padding: 0px 40px 100px 40px; }
    .shopify-buy-frame--cart .shopify-buy__cart-scroll .shopify-buy__cart-item__title {
      color: #000; }
    .shopify-buy-frame--cart .shopify-buy__cart-scroll .shopify-buy__quantity-decrement svg,
    .shopify-buy-frame--cart .shopify-buy__cart-scroll .shopify-buy__quantity-increment svg {
      fill: #000; }
  .shopify-buy-frame--cart .shopify-buy__cart-bottom {
    padding: 0 40px 40px 40px; }
    .shopify-buy-frame--cart .shopify-buy__cart-bottom:before {
      content: '';
      position: absolute;
      width: auto;
      right: 40px;
      left: 40px;
      background-color: #414141;
      height: 1px; }
    .shopify-buy-frame--cart .shopify-buy__cart-bottom .shopify-buy__cart__notice {
      display: none; }
    .shopify-buy-frame--cart .shopify-buy__cart-bottom .shopify-buy__cart__subtotal__text {
      line-height: 48px;
      margin: 20px 0;
      color: #000; }
    .shopify-buy-frame--cart .shopify-buy__cart-bottom .shopify-buy__cart__subtotal__price {
      color: #c01819;
      font-size: 48px;
      font-weight: 400;
      margin: 20px 0; }
    .shopify-buy-frame--cart .shopify-buy__cart-bottom .shopify-buy__btn {
      width: 100%;
      margin: 0;
      background-color: #c01819;
      opacity: 1; }

.shopify-buy__product {
  text-align: left; }

.shopify-buy__product__title,
.shopify-buy__product__price,
.shopify-buy__product__variant-title {
  text-align: left; }

.shopify-buy__product__title {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.4; }

.shopify-buy__product__compare-price {
  display: inline-block;
  margin-right: 5px; }

.shopify-buy__product__actual-price {
  display: inline-block; }

.shopify-buy__modal .shopify-buy__modal-product-wrapper {
  width: 100%; }

.shopify-buy__product__variant-image {
  margin: 0; }

@-webkit-keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px); }
  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0); } }
@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px); }
  to {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0); } }
@-webkit-keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0); }
  to {
    opacity: 0;
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px); } }
@keyframes slideOut {
  from {
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0); }
  to {
    opacity: 0;
    transform: translateY(-200px);
    -webkit-transform: translateY(-200px); } }
@media (min-width: 320px) {
  html,
  body.is-active {
    height: 100%; }

  .shopify-buy__modal-overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    overflow-y: scroll; }

  .shopify-buy__modal {
    margin: 40px auto 40px auto;
    opacity: 0;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.72);
    -webkit-transform: translateY(-200px);
    transform: translateY(-200px);
    max-width: 1000px;
    -webkit-animation: 200ms slideOut forwards;
    animation: 200ms slideOut forwards; }

  .is-active .shopify-buy__modal {
    -webkit-animation-name: slideIn;
    animation-name: slideIn; }

  .shopify-buy__product {
    padding: 30px; }

  .shopify-buy__product-img-wrapper {
    position: relative; }
    .shopify-buy__product-img-wrapper img {
      transition: .5s; }

  .shopify-buy__product__variant-img {
    margin: 0 auto; }

  .shopify-buy__btn--close {
    top: -60px;
    color: white; }

  .shopify-buy__btn--close:hover {
    color: #fff; } }
@media (min-width: 680px) {
  .shopify-buy__product {
    padding: 45px; } }
@-webkit-keyframes flipIn {
  from {
    max-height: 0;
    -webkit-transform: rotatex(90deg) translatey(-50%);
    transform: rotatex(90deg) translatey(-50%);
    margin-bottom: -65px;
    opacity: 0; }
  to {
    max-height: none;
    -webkit-transform: none;
    transform: none;
    margin-bottom: 20px;
    opacity: 1; } }
@keyframes flipIn {
  from {
    max-height: 0;
    -webkit-transform: rotatex(90deg) translatey(-50%);
    transform: rotatex(90deg) translatey(-50%);
    margin-bottom: -65px;
    opacity: 0; }
  to {
    max-height: none;
    -webkit-transform: none;
    transform: none;
    margin-bottom: 20px;
    opacity: 1; } }
@-webkit-keyframes flipOut {
  from {
    max-height: none;
    -webkit-transform: none;
    transform: none;
    margin-bottom: 20px;
    opacity: 1; }
  to {
    max-height: 0;
    -webkit-transform: rotatex(90deg) translatey(-50%);
    transform: rotatex(90deg) translatey(-50%);
    margin-bottom: -65px;
    opacity: 0; } }
@keyframes flipOut {
  from {
    max-height: none;
    -webkit-transform: none;
    transform: none;
    margin-bottom: 20px;
    opacity: 1; }
  to {
    max-height: 0;
    -webkit-transform: rotatex(90deg) translatey(-50%);
    transform: rotatex(90deg) translatey(-50%);
    margin-bottom: -65px;
    opacity: 0; } }
.shopify-buy__cart-wrapper {
  height: 100%;
  padding-left: 10px; }

.shopify-buy__cart {
  height: 100%;
  background-color: #fff;
  width: calc(100% - 10px);
  position: absolute;
  right: 0;
  box-shadow: -5px 0 5px rgba(0, 0, 0, 0.1); }

.shopify-buy__cart__header {
  padding: 20px;
  padding-right: 40px;
  position: relative;
  z-index: 2147483647;
  background-color: inherit; }

.shopify-buy__cart__title {
  font-size: 18px;
  color: #767676;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis; }

.shopify-buy__cart-scroll {
  padding: 70px 0 135px 0;
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%; }

.shopify-buy__cart-scroll--cart-note {
  padding: 70px 0 200px 0; }

.shopify-buy__cart-items {
  overflow: hidden;
  overflow-y: auto;
  height: 100%;
  position: relative;
  padding: 0 20px 20px;
  -webkit-overflow-scrolling: touch;
  -webkit-perspective: 400px;
  perspective: 400px;
  -webkit-perspective-origin: 50% 0px;
  perspective-origin: 50% 0px; }

.shopify-buy__cart-item {
  min-height: 65px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation: 200ms flipIn forwards;
  animation: 200ms flipIn forwards; }

.shopify-buy__cart-item.is-hidden {
  -webkit-animation-name: flipOut;
  animation-name: flipOut; }

.shopify-buy__cart-item__image {
  width: 65px;
  height: 65px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  position: absolute;
  left: 0;
  top: 0; }

.shopify-buy__cart-item__title {
  font-size: 14px;
  margin-left: 80px;
  display: block;
  margin-bottom: 10px; }

.shopify-buy__cart-item__price {
  float: right;
  font-size: 14px;
  font-weight: bold;
  line-height: 26px; }

.shopify-buy__cart-item__variant-title {
  float: right;
  color: #4c4c4c;
  font-size: 11px;
  font-weight: bold;
  max-width: 220px;
  overflow: hidden;
  text-overflow: ellipsis; }

.shopify-buy__cart-bottom {
  background-color: #fff;
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 20px; }

.shopify-buy__cart__subtotal__text {
  text-transform: uppercase;
  float: left;
  font-size: 11px;
  color: #4c4c4c; }

.shopify-buy__cart__subtotal__price {
  float: right; }

.shopify-buy__cart__currency {
  font-size: 12px; }

.shopify-buy__cart__notice {
  font-size: 11px;
  clear: both;
  padding-top: 10px;
  text-align: center;
  color: #4c4c4c; }

.shopify-buy__cart__note {
  clear: both;
  padding-top: 10px; }

.shopify-buy__cart__note__description {
  font-size: 11px;
  color: #4c4c4c; }

.shopify-buy__cart__note__text-area {
  resize: none;
  font-size: 11px;
  width: 100%;
  color: #4c4c4c; }

.shopify-buy__cart-empty-text {
  padding: 10px 15px;
  text-align: center; }

.shopify-buy__btn--cart-checkout {
  clear: both;
  margin-top: 15px;
  width: 100%;
  padding: 10px 5px;
  font-size: 16px; }

.shopify-buy__quantity-container {
  margin-left: 80px;
  height: 26px;
  line-height: 26px;
  position: relative;
  z-index: 9; }

.shopify-buy__cart-item__quantity-input {
  float: left;
  background: transparent; }

.shopify-buy__cart-toggle-wrapper {
  display: inline-block; }

.shopify-buy__cart-toggle__count {
  font-size: 20px;
  padding: 14px 20px;
  border: 1px solid #414141; }

.shopify-buy__icon-cart__group {
  fill: #fff; }

.is-inline .shopify-buy__icon-cart {
  margin-right: 5px; }
.is-inline .shopify-buy__cart-toggle__title {
  font-size: 16px;
  font-weight: normal; }
.is-inline .shopify-buy__cart-toggle__count {
  margin-left: 21px;
  margin-bottom: 0;
  position: relative; }
.is-inline .shopify-buy__cart-toggle__count:before {
  content: "";
  display: block;
  position: absolute;
  left: -12px;
  height: 100%;
  width: 1px;
  background-color: #fff;
  opacity: 0.3; }

.is-inline .shopify-buy__icon-cart,
.is-inline .shopify-buy__cart-toggle__title,
.is-inline .shopify-buy__cart-toggle__count {
  display: inline-block;
  vertical-align: middle; }

.is-inline.shopify-buy__cart-toggle {
  border-radius: 3px;
  padding: 5px 10px; }

.shopify-buy__collection {
  overflow: hidden; }

.shopify-buy__collection-products {
  margin-left: -15px;
  text-align: center; }

@media (min-width: 601px) {
  .shopify-buy__collection-products {
    margin-left: -20px; } }
.shopify-buy__product {
  min-width: 240px;
  width: auto;
  margin-left: 15px;
  display: inline-block;
  vertical-align: top; }

.shopify-buy__product + .shopify-buy__product {
  margin-top: 15px; }

@media (min-width: 601px) {
  .shopify-buy__product {
    width: calc(25% - 20px);
    margin-left: 20px;
    margin-bottom: 50px; }

  .shopify-buy__product + .shopify-buy__product {
    margin-top: 0; } }
.shopify-buy__btn.shopify-buy__collection-pagination-button {
  display: none;
  margin: 15px auto; }

.shopify-buy__btn.shopify-buy__collection-pagination-button.is-active {
  display: block; }

.shopify-buy-modal-is-active {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch; }

.shopify-buy-frame {
  display: inline-block; }

.shopify-buy-frame iframe {
  width: 100%;
  display: block;
  height: 0;
  overflow: hidden; }

.shopify-buy-frame--cart {
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 2147483647;
  transform: translateX(100%);
  -webkit-transform: translateX(100%); }

.shopify-buy-frame--cart iframe {
  height: 100%; }

.shopify-buy-frame--cart.is-initialized {
  transition: all 250ms cubic-bezier(0.165, 0.84, 0.44, 1); }

.shopify-buy-frame--cart.is-active {
  transform: translateX(0);
  -webkit-transform: translateX(0); }

.shopify-buy-frame--product {
  display: flex; }

.shopify-buy-frame--product.shopify-buy__layout-horizontal {
  display: flex;
  margin-left: auto;
  margin-right: auto; }

.shopify-buy-frame--product.shopify-buy__layout-horizontal iframe {
  max-width: 100%; }

@media (min-width: 950px) {
  .shopify-buy-frame--product.shopify-buy__layout-horizontal iframe {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto; } }
.shopify-buy-frame--toggle {
  display: inline-block; }

.shopify-buy-frame--toggle:not(.is-sticky) {
  overflow: hidden;
  padding: 5px; }

.is-active .shopify-buy-frame--toggle iframe {
  min-height: 67px; }

.shopify-buy-frame--productSet {
  width: 100%;
  padding: 0 40px; }

.shopify-buy-frame--modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2147483646;
  display: none;
  transition: background 300ms ease; }

.shopify-buy-frame--modal iframe {
  height: 100%;
  width: 100%;
  max-width: none; }

.shopify-buy-frame--modal.is-active {
  background: rgba(0, 0, 0, 0.6); }

.shopify-buy-frame--modal.is-block {
  display: block; }

.shopify-buy-frame--product .shopify-buy__product {
  padding: 0; }

.shopify-buy-frame--cart {
  max-width: 500px; }

.shopify-buy-frame--cart .shopify-buy__quantity {
  border-radius: 0;
  border-left: 0;
  border-left: 0;
  padding: 0;
  font-size: 16px; }

.shopify-buy-frame--cart .shopify-buy__quantity,
.shopify-buy-frame--cart .shopify-buy__quantity-increment,
.shopify-buy-frame--cart .shopify-buy__quantity-decrement {
  height: 30px; }

@media (max-width: 600px) {
  .shopify-buy-frame--modal .shopify-buy__product {
    width: 100%;
    height: 680px;
    padding: 30px;
    margin: 0; } }
@media (min-width: 601px) {
  .shopify-buy-frame--modal .shopify-buy__product {
    width: 100%;
    padding: 45px;
    margin: 0; } }
@media (max-width: 1200px) {
  .shop_page {
    padding-top: 75px; }

  .shopify-buy__collection-products {
    display: flex; }

  .shopify-buy-frame--productSet {
    padding: 0 15px; }

  .shopify-buy__product {
    margin-left: 10px;
    max-height: 250px; }

  .shopify-buy-frame--product {
    display: flex !important;
    flex-wrap: wrap; }

  .shopify-buy__btn {
    height: 60px; }

  .shopify-buy-frame--modal .shopify-buy__btn--close {
    display: block;
    top: -40px; }
  .shopify-buy-frame--modal .shopify-buy__modal {
    max-width: 600px; }
  .shopify-buy-frame--modal .main-image-wrapper {
    height: 100%;
    min-width: 480px;
    min-height: 400px;
    position: relative; }
  .shopify-buy-frame--modal .shopify-buy__product-img-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    right: 0; }
  .shopify-buy-frame--modal .shopify-buy__carousel {
    display: flex;
    justify-content: center;
    margin: 0; }
  .shopify-buy-frame--modal .shopify-buy__product__variant-img {
    display: flex;
    width: auto;
    margin: auto; }
  .shopify-buy-frame--modal .carousel-button--previous {
    top: 30%;
    left: 10%;
    transform: rotate(180deg); }
  .shopify-buy-frame--modal .shopify-buy__modal .carousel-button--next {
    right: 10%;
    left: auto;
    bottom: 44%;
    transform: rotate(0deg); }
  .shopify-buy-frame--modal .shopify-buy__quantity {
    height: 70px;
    width: 70px; }
  .shopify-buy-frame--modal .shopify-buy__product__title {
    font-size: 36px; }
  .shopify-buy-frame--modal .shopify-buy__product__price span {
    font-size: 36px; }
  .shopify-buy-frame--modal .shopify-buy__btn-and-quantity .shopify-buy__btn-wrapper {
    padding: 5px 20px; }
  .shopify-buy-frame--modal .shopify-buy__product {
    max-height: 100%;
    display: flex;
    height: 100%;
    flex-direction: column; }
    .shopify-buy-frame--modal .shopify-buy__product .shopify-buy__layout-horizontal:not(.no-image)
    .shopify-buy__btn-and-quantity,
    .shopify-buy-frame--modal .shopify-buy__product .shopify-buy__layout-horizontal:not(.no-image)
    .shopify-buy__product-description,
    .shopify-buy-frame--modal .shopify-buy__product .shopify-buy__layout-horizontal:not(.no-image) .shopify-buy__product__price,
    .shopify-buy-frame--modal .shopify-buy__product .shopify-buy__layout-horizontal:not(.no-image) .shopify-buy__product__title,
    .shopify-buy-frame--modal .shopify-buy__product .shopify-buy__layout-horizontal:not(.no-image) .shopify-buy__product__variant-selectors,
    .shopify-buy-frame--modal .shopify-buy__product .shopify-buy__layout-horizontal:not(.no-image) .shopify-buy__product__variant-title,
    .shopify-buy-frame--modal .shopify-buy__product .shopify-buy__layout-horizontal:not(.no-image) > .shopify-buy__btn-wrapper,
    .shopify-buy-frame--modal .shopify-buy__product .shopify-buy__layout-horizontal:not(.no-image) > .shopify-buy__quantity-container {
      margin-left: 0; }

  .shopify-buy__layout-horizontal:not(.no-image) .shopify-buy__btn-and-quantity, .shopify-buy__layout-horizontal:not(.no-image) .shopify-buy__product-description, .shopify-buy__layout-horizontal:not(.no-image) .shopify-buy__product__price, .shopify-buy__layout-horizontal:not(.no-image) .shopify-buy__product__title, .shopify-buy__layout-horizontal:not(.no-image) .shopify-buy__product__variant-selectors, .shopify-buy__layout-horizontal:not(.no-image) .shopify-buy__product__variant-title, .shopify-buy__layout-horizontal:not(.no-image) > .shopify-buy__btn-wrapper, .shopify-buy__layout-horizontal:not(.no-image) > .shopify-buy__quantity-container {
    margin-left: 0; } }
@media (max-width: 576px) {
  .shopify-buy__icon-cart--side {
    width: 50px; }

  .shopify-buy__cart-toggle__count {
    border: none;
    border-bottom: 1px solid #414141; }

  .shopify-buy__icon-cart--side {
    border: none; }

  .shop_page {
    padding-top: 50px; }
    .shop_page #cart-toggle .shopify-buy-frame--toggle.is-active.is-sticky {
      right: 0;
      top: -120px; }
    .shop_page #cart-toggle .shopify-buy__icon-cart--side {
      width: 70px;
      border: 1px solid #414141;
      border-right: none; }
    .shop_page #cart-toggle .shopify-buy__cart-toggle__count {
      border: 1px solid #414141; }

  .shopify-buy__product {
    max-height: 300px; }

  .shopify-buy-frame--modal .shopify-buy__product {
    padding: 50px  0; }
  .shopify-buy-frame--modal .main-image-wrapper {
    min-width: auto;
    min-height: auto;
    display: flex;
    justify-content: center; }
    .shopify-buy-frame--modal .main-image-wrapper .carousel-button-arrow {
      height: 36px; }
  .shopify-buy-frame--modal .shopify-buy__product__variant-img {
    display: block;
    margin: 0 auto; }
  .shopify-buy-frame--modal .carousel-button {
    border: none; }
  .shopify-buy-frame--modal .carousel-button--previous {
    top: 30%;
    left: 0;
    border: none; }
  .shopify-buy-frame--modal .shopify-buy__modal .carousel-button--next {
    right: 0;
    bottom: auto;
    top: 30%; }
  .shopify-buy-frame--modal .shopify-buy__modal .shopify-buy__carousel-item {
    width: calc(25% - 15px); }
  .shopify-buy-frame--modal .shopify-buy__btn-and-quantity {
    margin: 20px 0 0; }
    .shopify-buy-frame--modal .shopify-buy__btn-and-quantity .shopify-buy__btn-wrapper {
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px; }

  .shopify-buy-frame--cart .shopify-buy__cart__header {
    margin: 30px 20px 20px; }
  .shopify-buy-frame--cart .shopify-buy__cart-scroll {
    padding: 130px 0 135px; }
    .shopify-buy-frame--cart .shopify-buy__cart-scroll .shopify-buy__cart-items {
      padding: 0 20px 100px; }
  .shopify-buy-frame--cart .shopify-buy__cart-bottom {
    padding: 0 20px 40px; }
    .shopify-buy-frame--cart .shopify-buy__cart-bottom:before {
      right: 20px;
      left: 20px; }
    .shopify-buy-frame--cart .shopify-buy__cart-bottom .shopify-buy__cart__subtotal__price {
      font-size: 36px; } }
@media (max-width: 370px) {
  .shopify-buy-frame--modal .carousel-button--next, .shopify-buy-frame--modal .carousel-button--previous {
    filter: invert(1); }
  .shopify-buy-frame--modal .main-image-wrapper {
    display: block;
    height: 400px; } }
.shop_page + .site-footer {
  display: none; }

#preloader_shop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #be1819;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #c41f20;
  -webkit-animation: spin 3s linear infinite;
  animation: spin 3s linear infinite; }

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e23435;
  -webkit-animation: spin 1.5s linear infinite;
  animation: spin 1.5s linear infinite; }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@media (max-width: 768px) {
  #loader {
    top: 60%; } }

/*# sourceMappingURL=style.css.map */
