extends elements/_layout
block template

block content
    a(href="/").height-all
        video.bg-video.about-video.page-not-found(autoplay loop muted)
            source(src != "<?php echo get_template_directory_uri() . '/media/page-404.mp4' ?>")