extends elements/_layout
block template

block content
    .slider_video
        :php
            global $post;
            $args = array( 'posts_per_page' => -1, 'post_type' => 'video', 'post_status' => 'publish');
            $myposts = get_posts( $args );
            foreach ( $myposts as $post ) {
              setup_postdata( $post );
        .video-container(data-id != "<?php the_field('video_id') ?>")
            .video-iframe
            .video-play.active
                img(alt src != "<?php the_post_thumbnail_url(); ?>")
                .video-play_btn.btn_anim
                    .video-play_btn_triangle
                .video-info
                    span.video-info_duration Duration: 
                        :php
                            the_field('video_duration');
                    h2.video-info_title
                        :php
                            the_title();
        :php
            }
            wp_reset_postdata();
                
