extends elements/_layout
block template

block content
  video.bg-video.tourdates-video(autoplay loop muted)
    source(src != "<?php echo get_template_directory_uri() . '/media/Tourdates_2560.4078c8a4.mp4' ?>")
  .content-area
    main.tourdates_page
      .tourdates
        :php
          $my_postid = 107;
          $content_post = get_post($my_postid);
          $content = $content_post->post_content;
          $content = apply_filters('the_content', $content);
          $content = str_replace(']]>', ']]&gt;', $content);
          echo $content;
          global $query_string;
          query_posts( $query_string.'&posts_per_page=90');
        //- if ( have_posts() ) {
        span.slide-count
        .tourdates_list
          :php
            while ( have_posts() ) {      
              the_post();
              get_template_part( 'template-parts/content', get_post_type() );
            }
            wp_reset_query();
          //- }
