.site-footer
   .social_links          
      a.social_links_item(href!="<?php the_field('facebook_link', 167); ?>" target="_blank")
         svg(width="11" height="20" viewBox="0 0 11 20" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M10.2 1.52588e-06H7.7C4.9 1.52588e-06 3 1.9 3 4.8V7H0.4C0.2 7 0 7.2 0 7.4V10.6C0 10.8 0.2 11 0.4 11H2.9V19.1C2.9 19.3 3.1 19.5 3.3 19.5H6.6C6.8 19.5 7 19.3 7 19.1V11H10C10.2 11 10.4 10.8 10.4 10.6V7.4C10.4 7.3 10.4 7.2 10.3 7.1C10.2 7 10.1 7 10 7H7V5.1C7 4.2 7.2 3.7 8.4 3.7H10.1C10.3 3.7 10.5 3.5 10.5 3.3V0.300001C10.6 0.200001 10.4 1.52588e-06 10.2 1.52588e-06Z" fill="white" fill-opacity="0.4")
      a.social_links_item(href!="<?php the_field('instagram_link', 167); ?>" target="_blank")
         svg(width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M16 5.01282C16 4.35897 15.8974 3.59615 15.5897 2.94231C15.1795 1.85256 14.359 0.871795 13.2308 0.435897C12.6154 0.217949 12 0.108974 11.282 0C10.4615 0 10.1538 0 8 0C5.84616 0 5.53847 0 4.71795 0C4.10257 0 3.38461 0.108974 2.76923 0.435897C1.74359 0.871795 0.820506 1.74359 0.41025 2.94231C0.205122 3.59615 0.102564 4.25 0 5.01282C0 5.88461 0 6.21154 0 8.5C0 10.7885 0 11.1154 0 11.9872C0 12.641 0.102558 13.4038 0.41025 14.0577C0.820506 15.1474 1.64102 16.1282 2.76923 16.5641C3.38461 16.7821 4.00001 16.891 4.71795 17C5.53847 17 5.84616 17 8 17C10.1538 17 10.4615 17 11.282 17C11.8974 17 12.6154 16.891 13.2308 16.5641C14.2564 16.1282 15.1795 15.2564 15.5897 14.0577C15.7949 13.4038 15.8974 12.75 16 11.9872C16 11.1154 16 10.7885 16 8.5C16 6.21154 16 5.88461 16 5.01282ZM8 12.859C5.74359 12.859 3.89744 10.8974 3.89744 8.5C3.89744 6.10256 5.74359 4.14103 8 4.14103C10.2564 4.14103 12.1026 6.10256 12.1026 8.5C12.1026 10.8974 10.2564 12.859 8 12.859ZM12.3077 5.01282C11.7949 5.01282 11.3846 4.57692 11.3846 4.03205C11.3846 3.48718 11.7949 3.05128 12.3077 3.05128C12.8205 3.05128 13.2308 3.48718 13.2308 4.03205C13.2308 4.57692 12.8205 5.01282 12.3077 5.01282Z" fill="white" fill-opacity="0.4")
            path(d="M7.99995 5.66668C6.56405 5.66668 5.33328 6.97437 5.33328 8.50001C5.33328 10.0257 6.56405 11.3333 7.99995 11.3333C9.43585 11.3333 10.6666 10.0257 10.6666 8.50001C10.6666 6.97437 9.53841 5.66668 7.99995 5.66668Z" fill="white" fill-opacity="0.4")
            //- img(alt src!="<?php echo get_template_directory_uri() . '/media/insta.svg' ?>")
      a.social_links_item(href!="<?php the_field('youtube_link', 167); ?>" target="_blank")
         svg(width="20" height="15" viewBox="0 0 20 15" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M19.7 3.5C19.7 1.9 18.4 0.5 16.8 0.5H2.9C1.3 0.5 0 1.8 0 3.5V11.4C0 13 1.3 14.4 2.9 14.4H16.7C18.3 14.4 19.6 13.1 19.6 11.4L19.7 3.5ZM7.8 10.8V3.4L13.4 7.1L7.8 10.8Z" fill="white" fill-opacity="0.4")
            //- img(alt src!="<?php echo get_template_directory_uri() . '/media/youtube.svg' ?>")
      a.social_links_item(href!="<?php the_field('twitter_link', 167); ?>" target="_blank")
         //- svg(width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg")
         //-    path(d="M22.9142 10.8387C22.3573 10.1613 21.8005 9.59678 21.2436 9.14516C21.0209 8.91936 20.7981 8.69355 20.5754 8.58065C20.0186 8.01613 20.0186 7.79032 20.464 7.11291C20.7982 6.66129 21.1323 6.20968 21.4664 5.75807C21.8005 5.30645 22.0232 4.96774 22.3573 4.51613L22.4687 4.40323C23.0255 3.6129 23.5824 2.82258 23.9165 1.80645C24.0278 1.58065 24.0278 1.12903 23.9165 0.903228C23.6937 0.564518 23.3596 0.451613 23.1369 0.451613C23.0255 0.451613 22.9142 0.451613 22.8028 0.451613H19.1276C18.5708 0.451613 18.2367 0.67742 18.0139 1.24194C17.7912 1.80645 17.5684 2.37097 17.3457 2.82258C16.7889 3.83871 16.232 5.08065 15.2297 6.09677C15.1183 6.20968 15.007 6.32258 14.8956 6.32258C14.6729 6.20968 14.5615 5.75806 14.5615 5.53226V1.24194C14.4501 0.564517 14.2274 0.112902 13.4478 -1.72277e-06C13.4478 -1.72277e-06 13.4478 -1.72277e-06 13.3364 -1.72277e-06H9.54989C8.88167 -1.72277e-06 8.54757 0.225807 8.21346 0.67742C8.1021 0.790323 7.99071 1.01613 7.99071 1.24194C8.10208 1.46774 8.32483 1.58065 8.4362 1.58065C8.88167 1.69355 9.21578 1.91935 9.21578 2.48387C9.32715 3.3871 9.32715 4.29032 9.21578 5.53226C9.21578 5.87097 9.10441 6.09678 8.99304 6.32258C8.99304 6.32258 8.88168 6.54839 8.77031 6.54839C8.77031 6.54839 8.65893 6.54839 8.54756 6.43548C8.21345 6.20968 7.99072 5.98387 7.76798 5.53226C6.87703 4.29032 6.20881 2.93548 5.5406 1.35484C5.31786 0.790322 4.8724 0.451613 4.31555 0.451613C3.75871 0.451613 3.20186 0.451613 2.64502 0.451613C2.08817 0.451613 1.53133 0.451613 0.974485 0.451613C0.529009 0.451613 0.194899 0.564518 0.0835301 0.903228C-0.0278388 1.12903 -0.0278388 1.46774 0.0835301 1.91935C1.53133 5.19355 2.86775 7.67742 4.42691 9.70968C5.5406 11.1774 6.54292 12.1935 7.76798 12.871C9.10441 13.6613 10.5522 14 12.2227 14C12.4455 14 12.5568 14 12.7796 14C13.7819 14 14.116 13.5484 14.116 12.6452C14.116 12.1935 14.2274 11.629 14.4501 11.1774C14.5615 10.9516 14.7842 10.9516 14.7842 10.9516C14.8956 10.9516 15.007 10.9516 15.1183 11.0645C15.3411 11.1774 15.5638 11.4032 15.6752 11.5161C15.7865 11.629 16.0093 11.8548 16.1206 11.9677C16.4548 12.3065 16.7889 12.6452 17.0116 12.9839C17.6798 13.7742 18.4594 14 19.4617 14H22.8028C23.1369 14 23.471 13.7742 23.5824 13.4355C23.8051 13.0968 23.8051 12.5323 23.5824 12.1936C23.471 11.629 23.1369 11.1774 22.9142 10.8387Z" fill="white" fill-opacity="0.4")
         svg(width="19" height="19" aria-hidden="true" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-twitter fa-w-16 fa-9x")
            path(fill="white" fill-opacity="0.4" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" class="")
            //- img(alt src!="<?php echo get_template_directory_uri() . '/media/vk.svg' ?>")
     
   p.footer_txt © <?php echo date('Y'); ?>. Light Balance. 
      a.developer-link(href="https://splinestudio.com/" target="_blank")
         | DEVELOPED BY
         //- img.develper-logo(alt="SplineStydio" src != "<?php echo get_template_directory_uri() . '/media/Logo_ss.svg' ?>")
         svg(width="20" height="15" id="Layout_1" class="develper-logo" alt="SplineStydio" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 310 241.2" style="enable-background:new 0 0 310 241.2;" xml:space="preserve")
            path(fill="currentColor" class="st0" d="M225.2,237.1c-29.6,0-56.5-16.4-70.2-41.9c-13.7,25.5-40.6,41.9-70.2,41.9c-43.9,0-79.6-35.7-79.6-79.6c0-12.9,3-25.1,9.1-37.2c-5.9-11-9.1-23.7-9.1-37c0-43.7,35.7-79.2,79.6-79.2c29.6,0,56.5,16.4,70.2,41.9c13.7-25.5,40.6-41.9,70.2-41.9c43.9,0,79.6,35.5,79.6,79.2c0,13.3-3.1,26-9.1,37c6.1,12.1,9.1,24.3,9.1,37.2C304.7,201.4,269.1,237.1,225.2,237.1z M225.7,22c-33.7,0-61.2,27.6-61.2,61.6v74.2c0,33.8,27.5,61.4,61.2,61.4c33.7,0,61.2-27.6,61.2-61.6c0-12.2-3.7-24.4-10.3-34.3l-2-2.9l2-2.9c6.8-10.1,10.3-21.8,10.3-33.9C286.9,49.5,259.5,22,225.7,22zM84.3,22c-33.7,0-61.2,27.5-61.2,61.4c0,12.1,3.6,23.9,10.3,33.9l2,2.9l-2,2.9c-6.7,9.9-10.3,22.1-10.3,34.3c0,33.9,27.5,61.6,61.2,61.6c33.7,0,61.2-27.5,61.2-61.4V83.5C145.5,49.6,118,22,84.3,22z")
:php
   wp_footer();