extends elements/_layout
block template

block content
  video.bg-video.main-page_video(autoplay, muted, loop, playsinline, poster != "<?php echo get_field('video_poster') ?>")
    source(type="video/mp4")
    //- src != "<?php echo get_template_directory_uri() . '/media/LB_desktop.mp4' ?>", 
  .content-area
    main.main_page
      .main_slider
          :php
              global $post;
              $args = array( 'posts_per_page' => -1, 'post_type' => 'slide', 'post_status' => 'publish');
              $myposts = get_posts( $args );
              foreach ( $myposts as $post ) {
            setup_postdata( $post );
          div.main_slider_item
            p.main_slider_item_txt
                :php
                  the_title();
          :php
              }   
            wp_reset_postdata();