.preloader   
      img.loader(src != "<?php echo get_template_directory_uri() . '/media/loader.gif' ?>")
.site-header#masthead
   .header__top-block
      a.header-logo_link(href != '<?php echo get_home_url(); ?>')
            img.header-logo(alt="LB" src != "<?php echo get_template_directory_uri() . '/media/Logo.svg' ?>")
      .gamburger-button
            .gamburger-button__line
            .gamburger-button__line
            .gamburger-button__line
      .gamburger-button.gamburger-button_close
            .gamburger-button__line
            .gamburger-button__line
   :php
      wp_nav_menu( array('menu' => 'Main Menu' ));
   .social_links.social_links__phone
      a.social_links_item(href!="<?php the_field('facebook_link', 167); ?>" target="_blank")
            img(alt src!="<?php echo get_template_directory_uri() . '/media/fb-red.svg' ?>")
      a.social_links_item(href!="<?php the_field('instagram_link', 167); ?>"  target="_blank")
            img(alt src!="<?php echo get_template_directory_uri() . '/media/insta-red.svg' ?>")
      a.social_links_item(href!="<?php the_field('youtube_link', 167); ?>"  target="_blank")
            img(alt src!="<?php echo get_template_directory_uri() . '/media/youtube-red.svg' ?>")
      a.social_links_item(href!="<?php the_field('twitter_link', 167); ?>"  target="_blank")
            img(alt src!="<?php echo get_template_directory_uri() . '/media/Twitter_Logo.svg' ?>")   
.dots-wrapper   
      .main-dots
      .main-dots.booking-dots-second