extends elements/_layout
block template

block content
    video.bg-video.about-video(autoplay loop muted)
        source(src != "<?php echo get_template_directory_uri() . '/media/About.mp4' ?>")
    .content-area.about-page
        main.about_page
            .about
                :php
                    while ( have_posts() ) :
                    the_post();
                    get_template_part( 'template-parts/content', 'about' );
                    endwhile; // End of the loop.