extends elements/_layout
block template

block content
    video.bg-video.contact-us-video(autoplay loop muted)
        source(src != "<?php echo get_template_directory_uri() . '/media/Dracula.mp4' ?>")
    .content-area.contact-us-area
        main.booking_page
            .contact-us
                h1.booking_title
                    | Feel free to drop us a line
                .contact_form
                    :php
                        echo do_shortcode('[contact-form-7 id="166" title="ContactUs"]');