extends elements/_layout
block template

block content
    video.bg-video.booking-video(autoplay loop muted)
        source(src != "<?php echo get_template_directory_uri() . '/media/Contacts.mp4' ?>")
    .content-area.booking-area
        main.booking_page
            .booking
                h1.booking_title
                    :php
                        the_title();
                .booking_content
                    .booking_country
                        h2.booking_country_name
                            span
                                :php
                                    the_field('usa_title'); 
                            span
                                :php
                                    the_field('usa_agency_name');
                        .booking_country_content
                            section.booking_item
                                h3.booking_name
                                    :php
                                        the_field('usa_contact_name1'); 
                                a.booking_phone(href!="tel:<?php the_field('usa_contact_phone1'); ?>")
                                    :php
                                        the_field('usa_contact_phone1'); 
                                a.booking_email(href!="mailto:<?php the_field('usa_contact_email1'); ?>")
                                    :php
                                        the_field('usa_contact_email1'); 
                            section.booking_item
                                h3.booking_name
                                    :php
                                        the_field('usa_contact_name2');
                                a.booking_phone(href!="tel:<?php the_field('usa_contact_phone2'); ?>")
                                    :php
                                        the_field('usa_contact_phone2'); 
                                a.booking_email(href!="mailto:<?php the_field('usa_contact_email2'); ?>")
                                    :php
                                        the_field('usa_contact_email2'); 
                        h2.booking_country_name
                            span
                                :php
                                    the_field('usa_management _title');
                        .booking_country_content
                            section.booking_item
                                h3.booking_name
                                    :php
                                        the_field('usa_contact_name3'); 
                                a.booking_phone(href!="tel:<?php the_field('usa_contact_phone3'); ?>")
                                    :php
                                        the_field('usa_contact_phone3'); 
                                a.booking_email(href!="mailto:<?php the_field('usa_contact_email3'); ?>")
                                    :php
                                        the_field('usa_contact_email3'); 
                            section.booking_item
                                h3.booking_name
                                    :php
                                        the_field('usa_contact_name4');
                                a.booking_phone(href!="tel:<?php the_field('usa_contact_phone4'); ?>")
                                    :php
                                        the_field('usa_contact_phone4'); 
                                a.booking_email(href!="mailto:<?php the_field('usa_contact_email4'); ?>")
                                    :php
                                        the_field('usa_contact_email4');  
                    .booking_content_line
                        .booking_country
                            h2.booking_country_name
                                :php
                                    the_field('eu_title'); 
                            .booking_country_content
                                section.booking_item
                                    h3.booking_name
                                        :php
                                            the_field('eu_contact_name'); 
                                    a.booking_phone(href!="tel:<?php the_field('eu_contact_phone'); ?>")
                                        :php
                                            the_field('eu_contact_phone');                                
                                    a.booking_email(href!="mailto:<?php the_field('eu_contact_email'); ?>")
                                        :php
                                            the_field('eu_contact_email');                                
                        .booking_country
                            h2.booking_country_name
                                :php
                                    the_field('ua_title');
                            .booking_country_content
                                section.booking_item
                                    h3.booking_name
                                        :php
                                            the_field('ua_contact_name');
                                    a.booking_phone(href!="tel:<?php the_field('ua_contact_phone'); ?>")
                                        :php
                                            the_field('ua_contact_phone');                                
                                    a.booking_email(href!="mailto:<?php the_field('ua_contact_email'); ?>")
                                        :php
                                            the_field('ua_contact_email');
                                            