extends elements/_layout
block template

block content
        h1.shop_title
            :php
                the_title(); 
        main.shop_page
            #preloader_shop
                #loader
            #cart-toggle
            #collection-component-31035381d1f
        