li.award-item
  .award-logo
    img(alt src!="<?php echo get_template_directory_uri() . '/media/olive-branches-award-symbol.svg' ?>")
  h3.award-year
    :php
      echo get_field('year', $post->ID);
  h2.award-title
    :php
      echo get_the_title($post->ID);
  .award-place
    :php
      echo get_the_content($post->ID);