.about_content
    .entry-content
        :php
            the_content();
    .about_awards
        h2.about_awards_title
            | Awards
        :php
            include(locate_template( 'awards-loop/loop-index.php' ));
    .about_clients
        h2.about_clients_title
            | Partners & Clients
        :php
            include(locate_template( 'clients-loop/loop-index.php' ));