article(id!="post-<?php the_ID(); ?>")
  .event_item
    .event_content
      .date-text
        :php
          echo get_field('date');
      header.event_header
        :php
            the_title( '<h2 class="event_title">', '</h2>' );
      .event_desc-txt
        :php
            echo get_the_content();
    button.event_btn.btn_anim(onclick!="window.open('<?php echo get_field('booking_url');; ?>', '_blank')")
      :php
        echo get_field('booking_text');