block template
doctype
html(<?php language_attributes(); ?>)
  head
    meta(charset!="<?php bloginfo('charset'); ?>")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1, maximum-scale=1')
    link(rel="profile" href="https://gmpg.org/xfn/11")
    :php
      wp_head();

  body(<?php body_class('blocked'); ?>)
    :php
      get_header();
      dynamic_sidebar( 'header' );
    block content

    :php
      get_footer();
      dynamic_sidebar( 'footer' );

    :php
      wp_footer();
